<div class='container'>
        <form name='articleForm' class='form-horizontal' novalidate ng-submit='save()'>
            <!-- NAME -->
            <div class='form-group' ng-class='{ "has-error": articleForm.name.$invalid }'>
                <label for='name' class='control-label col-sm-2'>Titel</label>
                <div class='col-sm-10'>
                    <input name='name' type='text' ng-model='name' required class='form-control'></input>
                </div>
            </div>
            <!-- DESCRIPTION -->
            <div class='form-group' ng-class='{ "has-error": articleForm.description.$invalid }'>
                <label for='description' class='control-label col-sm-2'>Beschreibung</label>
                <div class='col-sm-10'>
                    <textarea name='description' type='text' ng-model='description' class='form-control' rows='3' placehoder='Beschreibung eintragen' required ></textarea>
                </div>
            </div>
            <!-- LOCATION -->
            <div class='form-group' ng-class='{ "has-error": articleForm.location.$invalid }'>
                <label for='location' class='control-label col-sm-2'>Standort</label>
                <div class='col-sm-10'>
                    <input name='location' type='text' ng-model='location' required class='form-control'></input>
                </div>
            </div>
            <!-- TYPE -->
            <div class='form-group' ng-class='{ "has-error": articleForm.type.$invalid }'>
                <label for='type' class='control-label col-sm-2'>Typ</label>
                <div class='col-sm-10'>
                    <input name='type' type='text' ng-model='type' required class='form-control'></input>
                </div>
            </div>
            <!-- MAXLOANDURATION -->
            <div class='form-group' ng-class='{ "has-error": articleForm.maxLoanDuration.$invalid }'>
                <label for='maxLoanDuration' class='control-label col-sm-2'>max. Ausleidauer</label>
                <div class='col-sm-10'>
                    <input name='maxLoanDuration' type='number' ng-model='maxLoanDuration' step="1" required class='form-control'></input>
                </div>
            </div>
            <!-- ISSET -->
            <div class='form-group' ng-class='{ "has-error": articleForm.isSet.$invalid }'>
                <label for='isSet' class='control-label col-sm-2'>Set</label>
                <div class='col-sm-10'>
                    <p class='input-group'>
                        <label class='checkbox-inline'><input type='checkbox' ng-model='isSet' /></label>
                </div>
            </div>
            <!-- ARTICLES -->
            <div class="dropdown col-sm-10 col-sm-offset-2">
                <select ng-disabled="!isSet" aria-labelledby="dropdownArticles" ng-model="selectedArticle" ng-change="addToArticles(selectedArticle)" ng-options="a.code + ' ' + a.name for a in allArticles" style="min-width: 200px">
                </select>
                <label class='control-label'>Artikel hinzufügen</label>
            </div>
            <br /><br />
            <div class='form-group'>
                <label for='articles' class='control-label col-sm-2'>Artikel</label>
                <div class='col-sm-10 list-group'>
                    <div ng-repeat='sub in articles' class='list-group-item list-group-item-warning'>
                        {{sub.code}} - {{sub.name}}
                        <div class="pull-right">
                            <button type="button" class="btn btn-xs glyphicon glyphicon-trash" ng-click='removeFromArticles(sub)'></button>
                        </div>
                    </div>
                </div>
            </div>

            <br />
	        <div class='col-sm-offset-2 col-sm-10'>
		    <input class='btn btn-success bnt-lg btn-block' type='submit' value='Speichern' ng-disabled='articleForm.$invalid'>
	        </div>
        </form>
</div>