<div class='container'>
    <div class='container col-sm-9'>
        <div class='panel panel-default'>
            <div class='panel-heading'>Filter</div>
            <div class='panel-body'>
                <div class='row'>
                    <label for='fromFilter' class='control-label col-sm-2'>Von:</label>
                    <div class='col-sm-5 input-group'>
                        <!--<p class='input-group'>-->
                        <ng-datepicker ng-model='from' view-format="DD.MM.YYYY"  locale='de'></ng-datepicker>
                        <!--</p>-->
                        <span class="input-group-btn">
                            <button class='btn btn-info' ng-click='clearFromSelection()'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class='row'>
                    <label for='toFilter' class='control-label col-sm-2'>Bis:</label>
                    <div class='col-sm-5 input-group'>
                        <!--<p class='input-group'>-->
                        <ng-datepicker ng-model='to' view-format="DD.MM.YYYY"  locale='de' required ></ng-datepicker>
                        <!--</p>-->
                        <span class="input-group-btn">
                            <button class='btn btn-info' ng-click='clearToSelection()'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class='row'>
                    <label for='locationFilter' class='control-label col-sm-2'>Einsatzort:</label>
                    <div class='col-sm-5 input-group'>
                        <input type="text" ng-model='location' class='form-control'></input>
                        <span class='input-group-btn'>
                            <button class='btn btn-info' ng-click='clearLocationSelection()'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class='row'>
                    <label for='lenderFilter' class='control-label col-sm-2'>Ausleiher/in:</label>
                    <div ng-show='iSvc.isAuthorized("admin")' class='col-sm-5 input-group'>
                        <input type="text" ng-model='lender' class='form-control'></input>
                        <span class='input-group-btn'>
                            <button class='btn btn-info' ng-click='clearLenderSelection()'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </span>
                    </div>
                    <div ng-show='!iSvc.isAuthorized("admin")' class='col-sm-5 input-group'>
                        <input type="text" ng-model='lender' class='form-control' readonly></input>
                    </div>
                </div>
                <div class='row'>
                        <label for='articleFilter' class='control-label col-sm-2'>Artikel:</label>
                        <div class='col-sm-5 input-group'>
                            <div class="dropdown">
                                <select class="form-control" aria-labelledby="dropdownArticles" ng-model="selectedArticle" ng-change="setArticleId(selectedArticle)" ng-options="a.code + ' ' + a.name for a in allArticles"></select>
                            </div>
                            <!-- <input type="text" ng-model='article' class='form-control'></input> -->
                            <span class='input-group-btn'>
                                <button class='btn btn-info' ng-click='clearArticleSelection()'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </span>
                        </div>
                    </div>
                <div class="row" style='margin-top:10px'>
                    <div class='col-sm-offset-2 col-sm-4'>
                        <button type='button' class='btn btn-primary btn-block' ng-click='find(from, to, articleId, location, lender)'>Laden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
    <div class="container list-group">
        <div ng-repeat="l in loans" class="list-group-item list-group-item-warning">
            {{l.from | date: 'dd/MM/yyyy'}} - {{l.to | date: 'dd/MM/yyyy'}}<br />
            <strong>{{l.article.code}} - {{l.article.name}}</strong><br />
            {{l.lender}} {{l.location}}
            <div class="pull-right">
                <button type="button" class="btn btn-xs glyphicon glyphicon-trash" ng-disabled='!iSvc.isAuthorized("admin") && !iSvc.isAuthorized("fadmin")' ng-click='delete(l._id)'></button>
            </div>
            <br />
            <div ng-show="l.article.type === 'Bus'">
                {{l.startTime}} - {{l.endTime}}<br />
                nach: {{l.destination}} [{{l.participants}} Teilnehmer]
            </div>
            
        </div>
    </div>
</div>
