<div class="container">
	<h2 class='text-orange'>Allgemeine Gesch&auml;tsbedingungen</h2>
	<ol>
        <li><strong>Datenschutz</strong>
            <p>Wir informieren, dass personenbezogen Daten der/des Teilnehmerin/ers seitens der katholischen Jungschar Südtirols, Inhaberin der gegenständlichen Datenverarbeitung, im Sinne des Gesetzesvertretenden Dekrets Nr.196/03 verarbeitet werden.</p>
            <p>Wir informieren, dass Fotos und Videoaufnahmen in digitaler und herkömmlicher Form gemacht werden, auf denen auch Mitglieder und Teilnehmer/innen abgebildet sein werden. Die Fotos und Filme werden im Sinne der Tätigkeit des KJS verwendet, also bearbeitet, weitergegeben und veröffentlicht, beispielsweise in der verbandseigenen Zeitschrift, in Presseaussendungen und für Internetauftritte der KJS (Homepage: <a href="www.jungschar.it">www.jungschar.it</a>)</p>
            <p>Mit der Anmeldung bestätigt der ermächtigte Elternteil im Falle von minderjährigen Teilnehmer/innen oder der/die Teilnehmer/in selbst, die hier angeführten Information zur Kenntnis genommen zu haben und die KJS ausdrücklich zu ermächtigen, das genannte Material zu den besagten Zwecken kostenlos zu verwenden.</p>
            <p>Die vollständige Aufklärung, welche die gegenständliche zusammengefasste Aufklärung ergänzt, kann auf unserer Website <a href="http://www.jungschar.it/kjs/burokratische-downloads/datenschutzkodex/">http://www.jungschar.it/kjs/burokratische-downloads/datenschutzkodex/</a>abgerufen werden.</p>
        </li>
    </ol>
</div>