<div class="container">
    <h2 class='text-orange col-sm-12'>Allgemeine Gesch&auml;tsbedingungen</h2>
    <div>
	    <div class='col-sm-9'>
	        <ul>
				<li>Nach erfolgreicher digitaler Anmeldung ist die Bezahlung verpflichtend und termingerecht durchzuführen. Zudem ist eine Abmeldung oder Rückerstattung des Teilnehmerbetrages aus organisatorischen Gründen nicht mehr möglich. Krankheitsbedingt wird gegen Vorlage eines ärztlichen Zeugnisses (innerhalb von 5 Tagen) die gesamte Teilnahmegebühr zurückerstattet.</li>
				<li>Die Eltern bzw. Erziehungsberechtigten übernehmen die Verantwortung für den Hin- und Rückweg des Kindes zu den jeweiligen Programmen. Untertags werden die Jugendlichen von den Betreuer*innen beaufsichtigt.</li>
				<li>Versicherung: Alle Teilnehmer*innen sind über die Versicherung AGJD (Arbeitsgemeinschaft der Jugenddienste) haftpflichtversichert, jedoch nicht unfallversichert.</li>
				<li>Die Eltern bzw. Erziehungsberechtigten erklären sich mit den Disziplinarmaßnahmen der Betreuer*innen einverstanden: Bei wiederholten Verstößen gegen Vereinbarungen und nach Rücksprache mit dem Elternhaus werden die Jugendlichen nach Hause geschickt.</li>
				<li>Die Teilnehmer*innen dürfen sich grundsätzlich nur bei den Sommerprogrammen in ihrer Wohnsitzgemeinde anmelden. Ausnahmen bilden die Programme, die offen für alle sind.</li>
				<li>Die Teilnehmer*innen müssen im Einzugsgebiet des Jugenddienstes Bozen-Land ansässig sein.</li>
				<li>Finanziert werden die Sommerprogramme von der jeweiligen Gemeinde, der Familienagentur des Landes Südtirol, Sponsoren und dem Jugenddienst Bozen-Land.</li>
	        </ul>
	    </div>
    </div>
</div>