<div class="container">
    <h2 class='text-orange col-sm-12'>Allgemeine Gesch&auml;tsbedingungen</h2>
    <div>

	    <div class='col-sm-9'>
	        <ul>
				<li>In seguito all’iscrizione online il pagamento è obbligatorio. Per motivi organizzativi l&#39;annullamento dell’iscrizione ed il rimborso della quota non sono possibili. Esclusivamente nel caso di malattia l&#39;intera quota di partecipazione sarà rimborsata su presentazione di un certificato medico (entro 5 giorni).</li>
				<li>I genitori o i tutori legali si assumono la responsabilità del tragitto del proprio figlio da e verso i rispettivi programmi. Durante il giorno i bambini ed i giovani sono sorvegliati dagli accompagnatori del programma estivo.</li>
				<li>Assicurazione: Tutti i partecipanti sono assicurati per la responsabilità civile tramite l&#39;assicurazione AGJD (Associazione dei Servizi Giovanili).</li>
				<li>I genitori o i tutori legali si dichiarano d&#39;accordo con le misure disciplinari adottate dagli assistenti: in caso di ripetute violazioni degli accordi e previa consultazione con i genitori, i giovani vengono rimandati a casa.</li>
				<li>I partecipanti possono iscriversi ai programmi estivi del Comune di residenza. Fanno eccezione i programmi che sono aperti a tutti, questi li trovate nell&#39;ultima parte dell&#39;opuscolo.</li>
				<li>I partecipanti devono essere residenti nell’area di competenza del Jugenddienst.</li>
				<li>I programmi estivi sono finanziati dal rispettivo comune, dall&#39;Agenzia per la Famiglia della Provincia</li>
			</ul>
	    </div>
	</div>
	<br />
	<div ng-include src='"templates/agb/ds-jdbl-it.html"'></div>
</div>