<div ng-controller="AgbEditCtrl">
<div ng-show="platform.isJDBL() || platform.isJugendsommer()"><div ng-include src='"templates/agb/agb-jdbl.html"'></div><div>

<div ng-show="platform.isKiso() && lang == 'de'"><div ng-include src='"templates/agb/agb-kiso-de.html"'></div></div>
<div ng-show="platform.isKiso() && lang == 'it'"><div ng-include src='"templates/agb/agb-kiso-it.html"'></div></div>

<div ng-show="platform.isJDUL() && lang == 'de'"><div ng-include src='"templates/agb/agb-jdul-de.html"'></div></div>
<div ng-show="platform.isJDUL() && lang == 'it'"><div ng-include src='"templates/agb/agb-jdul-it.html"'></div></div>

<div ng-show="platform.isTest() && lang == 'de'"><div ng-include src='"templates/agb/agb-jdul-de.html"'xx></div></div>
<div ng-show="platform.isTest() && lang == 'it'"><div ng-include src='"templates/agb/agb-jdul-it.html"'>yy</div></div>
</div>
