<div>
<div ng-show="platform.isJDBL() || platform.isJugendsommer()">
    <!-- <div ng-include src='"templates/agb/agb-jdbl.html"'></div>-->
    <div class="container">
            <h2 class='text-orange col-sm-12'>Allgemeine Gesch&auml;tsbedingungen</h2>
            <div ng-show='type === "summer" || type === "music" || type === "club"'>
                <div class='col-sm-9'>
                    <ul>
                        <li>Nach erfolgreicher digitalen Anmeldung ist die Bezahlung verpflichtend. Zudem ist eine Abmeldung oder R&uuml;ckerstattung des Teilnehmerbetrages aus organisatorischen Gr&uumlnden nicht mehr m&ouml;glich. Krankheitsbedingt wird gegen Vorlage eines &auml;rztlichen Zeugnisses (innerhalb von 5 Tagen) die gesamte Teilnahmegeb&uuml;hr zurückerstattet.</li>
                        <li>Die Eltern bzw. Erziehungsberechtigten &uuml;bernehmen die Verantwortung für den Hin- und Rückweg des Kindes zu den jeweiligen Programmen. Untertags werden die Jugendlichen von den Betreuer/innen beaufsichtigt.</li>
                        <li>Versicherung: Alle Teilnehmer/innen sind &uuml;ber die Versicherung AGJD (Arbeitsgemeinschaft der Jugenddienste) Haftpflicht versichert.</li>
                        <li>Die Eltern bzw. Erziehungsberechtigten erkl&auml;ren sich mit Disziplinarmaßnahmen der Betreuer/innen einverstanden: Bei wiederholten Verst&ouml;ßen gegen Vereinbarungen und nach R&uuml;cksprache mit dem Elternhaus werden die Jugendlichen nach Hause geschickt.</li>
                        <li>EINWILLIGUNG ZUR VER&Ouml;FFENTLICHUNG VON FOTOS UND VIDEOAUFNAHMEN: Wir informieren hiermit ausdr&uumlcklich, dass im Laufe der Sommerferienprogramme von den Teilnehmern Bilder in digitaler und herk&ouml;mmlicher Form  sowie Videoaufnahmen, von erm&auml;chtigten Mitarbeitern des Jugenddienstes gemacht werden und diese Bilder und Filme ausschließlich im Sinne der T&auml;tigkeit des Jugenddienstes, in Presseaussendungen, Internetauftritten und Bildershows verwendet, ver&ouml;ffentlicht und verbreitet werden. Mit seiner Zustimmung best&aumltigt der erm&auml;chtigte Elternteil, die hier angef&uuml;hrte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdr&uuml;cklich zu erm&auml;chtigen, die Bilder und Aufnahmen zu den besagten Zwecken, kostenlos zu verwenden.</li>
                        <li>DATENSCHUTZ: Mit der Anmeldung wird das Einverst&auml;ndnis zur allgemeinen Verarbeitung der pers&ouml;nlichen Daten im Rahmen der Verwaltung der Veranstaltung im Sinne der geltenden Datenschutzbestimmungen laut L.D. 196/2003 erteilt. Mitteilung im Sinne des Art. 13 des Legislativdekretes Nr. 196/03:S&auml;mtliche von Ihnen erhobenen Daten werden ausschließlich für interne Zwecke verarbeitet und für Rundschreiben sowie für die Erstellung der Teilnehmerlisten bei den Sommerferienprogrammen verwendet. Mit seiner Anmeldung best&auml;tigt der erm&auml;chtigte Elternteil/User, die hier angef&uml;hrte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdr&uuml;cklich zu erm&auml;chtigen, die pers&ouml;nlichen Daten zu den besagten Zwecken, zu verwenden.</li>
                    </ul>
                </div>
                <br />
                <h2 class='text-orange col-sm-12'>Allgemeine Infos zu den Programmen:</h2>
                <div class='col-sm-9'>
                    <ul>
                        <li>Verpflegung, Materialspesen, usw. sind im jeweiligen TeilnehmerInnen Preis enthalten (Die Preise stehen beim jeweiligen Programm dabei). Die Preise variieren nach Gemeinde/Programm, da die jeweiligen Gemeinden die Sommerprogramme unterschiedlich finanziell unterst&uumltzen.</li>
                        <li>TeilnehmerInnen d&uuml;rfen sich  grunds&auml;tzlich nur bei den Sommerprogrammen in ihrer Wohnsitzgemeinde anmelden. Ausnahmen bilden die Programme, die offen f&uuml;r alle sind. Diese Programme befinden sich im letzten Teil der Brosch&uumlre.</li>
                        <li>TeilnehmerInnen m&uuml;ssen im Einzugsgebiet des Jugenddienstes Bozen-Land ans&auml;ssig sein.</li>
                        <li>Finanziert werden die Sommerprogramme von der jeweiligen Gemeinde, der Familienagentur des Landes S&uuml;dtirol, Sponsoren und dem Jugenddienst Bozen-Land.</li>
                        <li>Versicherung: Alle TeilnehmerInnen sind über die Versicherung AGJD (Arbeitsgemeinschaft der Jugenddienste) Haftpflicht versichert.</li>
                        <li>Eine Kostenr&uuml;ckerstattung gibt es nur bei Krankheit mit Vorlage eines &auml;rztlichen Zeugnisses.</li>
                        <li>Die TeilnehmerInnen erhalten bei einer Spende von 10 Euro einen Jugenddienststick (4GB) mit allen Fotos des jeweiligen Programmes! Die Sticks d&uuml;rfen behalten werden! Es d&uuml;rfen auch Jugenddienststicks vom letzten Jahr verwendet werden. Diese m&uuml;ssen leer sein und am Anfang des jeweiligen Programmes den BetreuerInnen übergeben werden.</li>
                        <li>KINDER MIT BESONDEREM BETREUUNGSAUFWAND: Dem Jugenddienst Bozen-Land ist es ein großes Anliegen auch Kinder mit k&ouml;rperlicher/geistiger Beeintr&auml;chtigung in die Programme zu integrieren. Kinder, welche aufgrund ihrer Situation, Verfassung und k&ouml;rperlicher Ressourcen einen besonderen Betreuungsaufwand ben&ouml;tigen, werden so weit als m&ouml;glich durch eine zus&auml;tzliche Betreuungsperson w&auml;hrend des Programms begleitet. Bitte bei der Anmeldung im vorgesehenen Feld eine kurze Beschreibung der Beeintr&auml;chtigung einf&uuml;gen. Bei einem pers&ouml;nliches Gespr&auml;ch im Fr&uuml;hjahr werden alle weiteren Details gekl&auml;rt.</li>
                </ul>
                </div>
            </div>
            <div ng-show='type === "spiritnight"'>
                <div class='col-sm-9'>
                    <ol>
                        <li>Die Begleitpersonen sind für die Firmlinge w&auml;hrend der gesamten Veranstaltung verantwortlich.</li>
                        <li>Versicherung: Alle Teilnehmer/innen sind über die Versicherung AGJD (Arbeitsgemeinschaft der Jugenddienste) Haftpflicht versichert; Achtung nicht Unfall versichert.</li>
                        <li>Die Kosten belaufen sich auf 12 Euro pro Teilnehmer und müssen vorab f&uuml;r die gesamte Pfarrei/Gruppe dem Kloster &uuml;berwiesen werden. Die Rechnungsdaten hierfür folgen mittels E-mail.</li>
                        <li>Die Begleitpersonen zeigen sich für einen reibungslosen Ablauf verantwortlich. Hierf&uuml;r muss die gemeldete Gruppe immer in Begleitung eines Betreuers sein (Vollj&auml;hrig) und ein respektvolles Benehmen wird vorausgesetzt.</li>
                        <li>Aufgrund der Privacy-Bestimmungen sind wir verpflichtet, die Eltern/Begleitpersonen um Erlaubnis zu fragen, Fotos/Videos/Interviews von den Kindern/Betreuern machen zu d&uuml;rfen und einzelne davon im Sinne der T&auml;tigkeit des Vereins (z.B. Presseaussendungen, Informationsbroschüren, Internetauftritte) ver&ouml;ffentlichen zu d&uuml;rfen.</li>
                        <li>Der Start der Spiritnight ist pünktlich um 16.30 Uhr. Bitte um pünktliches Erscheinen.</li>
                        <li>Die Hin- und R&uuml;ckfahrt muss eigenst&auml;ndig von jeder Pfarrei organisiert werden.</li>
                    </ol>
                </div>
            </div>
        </div>
<div>

<div ng-show="platform.isKiso() && lang == 'de'">
    <!-- <div ng-include src='"templates/agb/agb-kiso-de.html"'></div> -->
    <div class="container">
            <h2 class='text-orange'>Allgemeine Gesch&auml;tsbedingungen</h2>
            <ol>
                <li><strong>Anmeldung</strong>
                    <ul>
                        <li><strong>Modalitäten</strong>
                            <p>Die Anmeldung eines Kindes zum KiSo kann ausschließlich über das Online-Anmeldeformular auf www.kiso.bz.it erfolgen. Falls innerhalb weniger Minuten nicht eine automatische Rückantwort an die angegebene E-Mail des Erziehungsberechtigten zum technischen Erfolg der Anmeldung erhalten wird, ist ein Fehler passiert und muss die Anmeldung erneut abgeschickt werden.</p>
                            <p>Innerhalb von fünf Tagen nach erfolgter Anmeldung informiert der Jugenddienst Bozen per E-Mail über den Status der Anmeldung, mit entsprechender Zahlungsaufforderung bzw. Position des Kindes auf der Warteliste, falls die maximale Teilnehmerzahl im Moment der Anmeldung bereits erreicht war.</p>
                        </li>
                        <li><strong>Verbindlichkeit</strong>
                            <p>Die Anmeldung wird erst durch die endgültige Bestätigung durch den Jugenddienst Bozen rechtsgültig und verbindlich, welche wiederum erst nach Zahlungseingang des vollen Teilnahmebeitrages erfolgt (siehe  Punkt 2.2).</p>
                        </li>
                        <li><strong>Privacy</strong>
                            <p>Für die Abwicklung der Anmeldung ist die Verarbeitung und Speicherung der personenbezogenen Daten erforderlich. Wie der Jugenddienst mit diesen Daten verfährt, ist im Aufklärungsschreiben laut G.v.D. 196/03 nachzulesen.</p>
                        </li>
                    </ul>
                </li>
                <li><strong>Teilnahmebeitrag</strong>
                    <ul>
                        <li><strong>Beitragshöhe und Zahlungsmodalitäten</strong>
                            <p>Der Teilnahmebeitrag beträgt 80,00 Euro pro Woche. Bei Anmeldung von weiteren Geschwisterkindern für die selbe Woche, wird auf jedes zusätzliche Kind ein Rabatt von 10,00 Euro gewährt. Der Teilnahmebeitrag muss mittels Banküberweisung auf das Konto des Jugenddienst Bozen bei der Raiffeisenkasse Bozen (IBAN: IT 58 J 08081 11600 000305003229) eingezahlt werden.</p>
                        </li>
                        <li><strong>Zahlungsfrist</strong>
                            <p>Der Teilnahmebeitrag muss mittels Banküberweisung auf das Konto des Jugenddienst Bozen innerhalb von fünf Werktagen ab Versand der Zahlungsaufforderung eingezahlt werden. Bei der Überweisung muss als Einzahlungsgrund „KISO 2017“ und der Name der TeilnehmerInnen angegeben werden. Die Anmeldung ist erst mit dem Eingang des vollen Teilnahmebeitrages gültig, nach Ablauf der Zahlungsfrist wird das Kind ohne zusätzlicher Zahlungsaufforderung auf die Warteliste gesetzt.</p>
                        </li>
                        <li><strong>Rückerstattung</strong>
                            <p>Der Teilnahmebeitrag wird nur im Falle bescheinigter Krankheit (d.h. Vorlage ärztliches Zeugnis) oder unvorhersehbarer Ereignisse in voller Höhe zurückerstattet. Bei einer Abmeldung vor Beginn der 1. KiSo-Woche werden 50% des bezahlten Teilnahmebeitrages einbehalten.  Bei Abmeldungen nach Beginn der 1. KiSo-Woche wird der volle Teilnahmebeitrag einbehalten.</p>
                        </li>
                    </ul>
                </li>
                <li><strong>Versicherung und Aufsicht</strong>
                    <p>Alle KiSo-TeilnehmerInnen sind während der Austragung des Programms über die von der Arbeitsgemeinschaft der Jugenddienste (AGJD) abgeschlossene Haftpflichtversicherung auf Schäden gegen Dritte gedeckt.</p>
                    <p>Die Eltern bzw. Erziehungsberechtigten übernehmen die Verantwortung für den Hin- und Rückweg des Kindes zum KiSo-Austragungsort. Untertags werden die Kinder von den BetreuerInnen beaufsichtigt.</p>
                </li>
                <li><strong>Fotos und Filmaufnahmen</strong>
                    <p>Zu Dokumentations und PR-Zwecken werden während des KiSo Fotos und Filmaufnahmen der TeilnehmerInnen gemacht und ggf. veröffentlicht werden. Aus der Veröffentlichung entsteht für den Jugenddienst keinerlei wirtschaftlicher Vorteil, dementsprechend können von den abgebildeten Personen keine Entschädigung oder andere Rechte geltend gemacht werden. Gegen die Verwendung von Fotos mit identifizierbaren Personen kann seitens der Eltern jederzeit Einspruch erhoben werden.</p>
                </li>
                <li><strong>Allgemein</strong>
                    <p>Mit der Anmeldung erklärt sich das Elternteil und Erziehungsberechtigter mit obigen Bedingungen einverstanden. Für Rückfragen stehen die MitarbeiterInnen des Jugenddienst Bozen gerne zur Verfügung.</p>
                </li>
            </ol>
        </div>
</div>
<div ng-show="platform.isKiso() && lang == 'it'">
    <!-- <div ng-include src='"templates/agb/agb-kiso-it.html"'></div> -->
    <div class="container">
            <h2 class='text-orange'>Condizioni e termini</h2>
            <ol>
                <li><strong>Iscrizione</strong>
                    <ul>
                        <li><strong>Modalitá</strong>
                            <p>L’iscrizione di un/a bambino/a al KiSo puó avvenire esclusivamente tramite il modulo online sul sito www.kiso.bz.it. Se non dovesse ricevere entro pochi minuti una risposta automatica, all’indirizzo email indicato dal genitore, é necessario ripetere la modalità d'iscrizione in quanto è stato riscontrato un possibile errore.</p>
                            <p>Entro cinque giorni dall’avvenuta iscrizione, il Jugenddienst Bozen La informerá via mail sullo stato d'iscrizione, mandando un avviso di pagamento ovvero indicando la posizione del/la bambino/a sulla lista d’attesa.</p>
                        </li>
                        <li><strong>Vincolanza</strong>
                            <p>L’ iscrizione sarà definitiva a tutti gli effetti solo dopo la conferma da parte dello Jugenddienst Bozen, dopo la verifica dell'avvenuto accredito (vedi punto 2.2).</p>
                        </li>
                        <li><strong>Privacy</strong>
                            <p>Per lo svolgimento dell’ iscrizione é neccessario il trattamento e la memorizzazione dei dati personali. Per le condizioni del trattamento dei dati da parte del Jugenddienst Bozen, si prega di leggere l‘informativa clienti secondo il DLGS 196/03.</p>
                        </li>
                    </ul>
                </li>
                <li><strong>Quota d’iscrizione</strong>
                    <ul>
                        <li><strong>Importo e modalitá di pagamento</strong>
                            <p>La quota d’iscrizione ammonta a 80,00 Euro per settimana. Per l’iscrizione di ogni successivo frattello/sorella alla medesima settimana verrà concesso uno sconto di 10,00 euro. La quota deve essere versata tramite bonifico bancario sul conto corrente intestato allo Jugenddienst Bozen (Cassa rurale di Bolzano, IBAN: IT 58 J 08081 11600 000305003229).</p>
                        </li>
                        <li><strong>Scadenza di pagamento</strong>
                            <p>La quota d’iscrizione deve essere versata tramite bonifico bancario sul conto corrente dello Jugenddienst Bozen entro cinque giorni lavorativi dall’invio dell’avviso di pagamento. Come causale nel bonifico deve essere inserito „KISO 2017“ con il nome del/la partecipante. L’iscrizione é soltante valida dal momento dell’accredito della intera quota d’isrizione. Scaduto il termine di pagamento, il /la figlio/a iscritto sará spostato/a sulla lista d’attesa, senza ulteriore avviso di pagamento.</p>
                        </li>
                        <li><strong>Rimborso</strong>
                            <p>La somma completa della quota d’iscrizione verrá rimborsata solo nei casi di malattia (a presentazione dell‘ attestato medico) oppure impedimento per eventi imprevedibili. In tutti gli altri casi di disdetta della prima settimana del KiSo, verrá rimborsata solamete il 50% della quota d’iscrizione. In caso di disdetta dopo la partenza della prima settimana del KiSo, la quota d’iscrizione non verrá piú rimborsata.</p>
                        </li>
                    </ul>
                </li>
                <li><strong>Assicurazione e sorveglianza</strong>
                    <p>I genitori sono responsabili per il trasporto (andata e ritorno) dei loro figli al rispettivo luogo del KiSo. Durante l’orario del KiSo, i/le partecipanti saranno sorvegliati/e dagli assistenti pedagogici.</p>
                </li>
                <li><strong>Foto e immagini video</strong>
                    <p>Ai fini di documentazione e relazioni pubbliche, durante il KiSo verranno scattate foto ed verranno fatte delle riprese dei partecipanti che eventualmente potranno essere pubblicate. La pubblicazione del materiale non comporterà alcun vantaggio commerciale per il Jugenddienst Bozen, di conseguenza non si potranno richiedere risarcimenti di nessun tipo. Un genitore deve esprimere il suo dissenso a riguardo, prima dell’inizio del KiSo.</p>
                </li>
                <li><strong>Generale</strong>
                    <p>Con l’iscrizione il genitore si dichiara d’accordo con le condizioni sopra citate. Per ulteriori chiarimenti si prega di non esitare a consultare i collaboratori dello Jugenddienst Bozen.</p>
                </li>
            </ol>
        </div>
</div>

<div ng-show="platform.isJDUL() && lang == 'de'">
    <!-- <div ng-include src='"templates/agb/agb-jdul-de.html"'></div> -->
    <div class="container">
            <h2 class='text-orange col-sm-12'>Allgemeine Gesch&auml;tsbedingungen</h2>
            <div class='col-sm-9'>
                <h3>VORAUSGESCHICKT:</h3>
                <p>Unsere Anmeldungen sind bindend und aus organisatorischen Gründen nur bis 23. März 2018 abänderbar. Nachmeldungen nach dem 23. März 2018 sind nicht mehr möglich. Auch während der Sommerferienprogramme können keine Nachmeldungen oder Wechsel mit anderen Kindern gemacht werden.</p>
                <h3>BEGRENZTE TEILNEHMERZAHLEN</h3>
                <p>Aus organisatorischen Gründen ist für jedes Programm nur eine beschränkte Teilnehmerzahl vorgesehen. Deshalb ist es wichtig, dass die Anmeldungen rechtzeitig und ausschließlich im Jugenddienst Unterland eingehen.<br />WICHTIG: Damit ein Programm stattfinden kann, werden <strong>mindestens 10 Kinder/Woche</strong>s benötigt und <strong>maximal</strong> können <strong>30 Kinder/Woche</strong> teilnehmen.</p>
                <h3>TEILNAHMEBEITRAG</h3>
                <p>Wir bitten Sie den Teilnehmerbeitrag innerhalb <strong>31.03.2018</strong> auf unser Konto zu überweisen.<br />Zahlungsgrund: Vor- und Nachname des Kindes und Wohnort<br><strong>BANKDATEN:<br />Raiffeisenkasse Salurn - Filiale Neumarkt<br />IBAN: IT27T0822058371000304204042</strong></p>
                <h3>KURSABSAGE UND STORNO</h3>
                <p>Nach erfolgter Anmeldung ist eine Abmeldung oder Rückerstattung des Teilnehmerbetrages aus organisatorischen Gründen nicht mehr möglich. Krankheitsbedingt wird gegen Vorlage eines ärztlichen Zeugnisses (innerhalb von 5 Tagen) die gesamte Teilnahmegebühr zurückerstattet.</p>
                <h4>Datenschutz: Mitteilung im Sinne des Art. 13 des Legislativdekretes Nr. 196/03:</h4>
                <p>Sämtliche von Ihnen erhobenen Daten werden ausschließlich für interne Zwecke verarbeitet und für Rundschreiben sowie für die Erstellung der Teilnehmerlisten bei den Sommerferienprogrammen verwendet. Mit seiner Unterschrift bestätigt der ermächtigte Elternteil, die hier angeführte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdrücklich zu ermächtigen, die persönlichen Daten zu den besagten Zwecken, zu verwenden.</p>
                <h4>Einwilligung zur Veröffentlichung von Fotos und Videoaufnahmen:</h4>
                <p>Wir informieren hiermit ausdrücklich, dass im Laufe der Sommerferienprogramme von den Teilnehmern Bilder in digitaler und herkömmlicher Form sowie Videoaufnahmen, von ermächtigten Mitarbeitern des Jugenddienstes gemacht werden und diese Bilder und Filme ausschließlich im Sinne der Tätigkeit desJugenddienstes, in Presseaussendungen, Internetauftritten und Bildershows verwendet, veröffentlicht und verbreitet werden. Mit seiner Unterschrift bestätigt der ermächtigte Elternteil, die hier angeführte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdrücklich zu ermächtigen, die Bilder und Aufnahmen zu den besagten Zwecken, kostenlos zu verwenden.</p>
            </div>
        </div>
</div>
<div ng-show="platform.isJDUL() && lang == 'it'">
    <!-- <div ng-include src='"templates/agb/agb-jdul-it.html"'></div> -->
    <div class="container">
            <h2 class='text-orange col-sm-12'>termini e condizioni generali</h2>
            <div class='col-sm-9'>
                <h3>PREMESSA:</h3>
                <p>Le iscrizioni, per motivi organizzativi, sono vincolanti e non possono essere modificate dopo il 23 marzo 2018. Non è possibile iscriversi dopo il 23 marzo 2018.<br />ATTENZIONE: Anche durante il programma estivo non sarà più possibile iscriversi o di fare dei cambi con altri bambini.</p>
                <h3>NUMERO LIMITATO DI PARTECIPANTI</h3>
                <p>Per motivi organizzativi è stato stabilito un numero massimo di partecipanti per ogni programma. Pertanto è importante che l'iscrizione pervenga puntualmente ed esclusivamente tramite il Jugenddienst Unterland.<br />IMPORTANTE: Per lo svolgimento di un programma servono <strong>almeno 10 iscritti/settimana</strong> e al <strong>massimo possono partecipare 30 iscritti/settimana.</strong></p>
                <h3>QUOTA D'ISCRIZIONE</h3>
                <p>Le chiediamo di versare la quota d'iscrizione sul nostro conto corrente entro <strong>31.03.2018</strong>.<br />Causale: Nome e cognome del bambino e comune di residenza<br /><strong>COORDINATE BANCARIE:<br />Cassa Raiffeisen Salorno - Filiale di Egna<br />IBAN: IT27T0822058371000304204042</strong></p>
                <h3>CANCELLAZIONE PROGRAMMA E STORNO</h3>
                <p>per motivi organizzativi, non è più possibile annullare l'iscrizione o avere il rimborso della quota di partecipazione. In caso di malattia, (con presentazione di un certificato medico) sarà rimborsata l'intera quota (entro 5 giorni).</p>
                <h3>PRIVACY:</h3>
                <p>Tramite l'iscrizione viene dato il consenso al trattamento dei dati personali nell'ambito della gestione dei programmi in conformità con le norme vigenti sulla protezione dei dati, in base al decreto provinciale L.D. 196/2003.</p>
                <h4>Informativa ai sensi dell´art. 13 D. LGS. 196/2003: </h4>
                <p>Ai sensi dell'articolo 13 del D. lgs n. 196/2003 Le forniamo le seguenti informazioni: Jugenddienst Unterland, via Canonica 1, 39044 Egna, utilizzerà i Vostri dati per gli seguenti scopi: invio di e-mail e lettere, per adempiere agli obblighi di legge derivanti anche da normative locali e comunali nonché da norme del diritto civile e penale, per adempiere ad eventuali obblighi contrattuali nei confronti dell'interessato, alla tutela del credito e gestione del debito. I Vostri dati saranno elaborati e memorizzati in formato elettronico.</p>
                <h4>Consenso alla pubblicazione di foto e riprese video:</h4>
                <p>Con la presente si informa espressamente che nell'ambito dello svolgimento dei programmi delle vacanze estive i partecipanti verranno fotografati e video ripresi da collaboratori autorizzati del "Jugenddienst Unterland". Dette fotografie e videoriprese verranno utilizzate esclusivamente per pubblicazioni legate alle attività inerenti al "Jugenddienst Unterland" in comunicati stampa, siti internet e fotoshows. Con l'apposizione della firma da parte del genitore autorizzato, lo stesso conferma di conoscere il contenuto sopra riportato e contestualmente dà il proprio consenso all'utilizzo a titolo gratuito delle foto e delle riprese agli scopi sopra indicati.</p>
            </div>
        </div>
</div>

<div ng-show="platform.isTest() && lang == 'de'">
    <!-- <div ng-include='"templates/agb/agb-jdul-de.html"'xx></div> -->
    <div class="container">
            <h2 class='text-orange col-sm-12'>Allgemeine Gesch&auml;tsbedingungen</h2>
            <div class='col-sm-9'>
                <h3>VORAUSGESCHICKT:</h3>
                <p>Unsere Anmeldungen sind bindend und aus organisatorischen Gründen nur bis 23. März 2018 abänderbar. Nachmeldungen nach dem 23. März 2018 sind nicht mehr möglich. Auch während der Sommerferienprogramme können keine Nachmeldungen oder Wechsel mit anderen Kindern gemacht werden.</p>
                <h3>BEGRENZTE TEILNEHMERZAHLEN</h3>
                <p>Aus organisatorischen Gründen ist für jedes Programm nur eine beschränkte Teilnehmerzahl vorgesehen. Deshalb ist es wichtig, dass die Anmeldungen rechtzeitig und ausschließlich im Jugenddienst Unterland eingehen.<br />WICHTIG: Damit ein Programm stattfinden kann, werden <strong>mindestens 10 Kinder/Woche</strong>s benötigt und <strong>maximal</strong> können <strong>30 Kinder/Woche</strong> teilnehmen.</p>
                <h3>TEILNAHMEBEITRAG</h3>
                <p>Wir bitten Sie den Teilnehmerbeitrag innerhalb <strong>31.03.2018</strong> auf unser Konto zu überweisen.<br />Zahlungsgrund: Vor- und Nachname des Kindes und Wohnort<br><strong>BANKDATEN:<br />Raiffeisenkasse Salurn - Filiale Neumarkt<br />IBAN: IT27T0822058371000304204042</strong></p>
                <h3>KURSABSAGE UND STORNO</h3>
                <p>Nach erfolgter Anmeldung ist eine Abmeldung oder Rückerstattung des Teilnehmerbetrages aus organisatorischen Gründen nicht mehr möglich. Krankheitsbedingt wird gegen Vorlage eines ärztlichen Zeugnisses (innerhalb von 5 Tagen) die gesamte Teilnahmegebühr zurückerstattet.</p>
                <h4>Datenschutz: Mitteilung im Sinne des Art. 13 des Legislativdekretes Nr. 196/03:</h4>
                <p>Sämtliche von Ihnen erhobenen Daten werden ausschließlich für interne Zwecke verarbeitet und für Rundschreiben sowie für die Erstellung der Teilnehmerlisten bei den Sommerferienprogrammen verwendet. Mit seiner Unterschrift bestätigt der ermächtigte Elternteil, die hier angeführte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdrücklich zu ermächtigen, die persönlichen Daten zu den besagten Zwecken, zu verwenden.</p>
                <h4>Einwilligung zur Veröffentlichung von Fotos und Videoaufnahmen:</h4>
                <p>Wir informieren hiermit ausdrücklich, dass im Laufe der Sommerferienprogramme von den Teilnehmern Bilder in digitaler und herkömmlicher Form sowie Videoaufnahmen, von ermächtigten Mitarbeitern des Jugenddienstes gemacht werden und diese Bilder und Filme ausschließlich im Sinne der Tätigkeit desJugenddienstes, in Presseaussendungen, Internetauftritten und Bildershows verwendet, veröffentlicht und verbreitet werden. Mit seiner Unterschrift bestätigt der ermächtigte Elternteil, die hier angeführte Information zur Kenntnis genommen zu haben und den Jugenddienst ausdrücklich zu ermächtigen, die Bilder und Aufnahmen zu den besagten Zwecken, kostenlos zu verwenden.</p>
            </div>
        </div>
</div>
<div ng-show="platform.isTest() && lang == 'it'">
    <!-- <div ng-include='"templates/agb/agb-jdul-it.html"'>yy</div> -->
    <div class="container">
            <h2 class='text-orange col-sm-12'>termini e condizioni generali</h2>
            <div class='col-sm-9'>
                <h3>PREMESSA:</h3>
                <p>Le iscrizioni, per motivi organizzativi, sono vincolanti e non possono essere modificate dopo il 23 marzo 2018. Non è possibile iscriversi dopo il 23 marzo 2018.<br />ATTENZIONE: Anche durante il programma estivo non sarà più possibile iscriversi o di fare dei cambi con altri bambini.</p>
                <h3>NUMERO LIMITATO DI PARTECIPANTI</h3>
                <p>Per motivi organizzativi è stato stabilito un numero massimo di partecipanti per ogni programma. Pertanto è importante che l'iscrizione pervenga puntualmente ed esclusivamente tramite il Jugenddienst Unterland.<br />IMPORTANTE: Per lo svolgimento di un programma servono <strong>almeno 10 iscritti/settimana</strong> e al <strong>massimo possono partecipare 30 iscritti/settimana.</strong></p>
                <h3>QUOTA D'ISCRIZIONE</h3>
                <p>Le chiediamo di versare la quota d'iscrizione sul nostro conto corrente entro <strong>31.03.2018</strong>.<br />Causale: Nome e cognome del bambino e comune di residenza<br /><strong>COORDINATE BANCARIE:<br />Cassa Raiffeisen Salorno - Filiale di Egna<br />IBAN: IT27T0822058371000304204042</strong></p>
                <h3>CANCELLAZIONE PROGRAMMA E STORNO</h3>
                <p>per motivi organizzativi, non è più possibile annullare l'iscrizione o avere il rimborso della quota di partecipazione. In caso di malattia, (con presentazione di un certificato medico) sarà rimborsata l'intera quota (entro 5 giorni).</p>
                <h3>PRIVACY:</h3>
                <p>Tramite l'iscrizione viene dato il consenso al trattamento dei dati personali nell'ambito della gestione dei programmi in conformità con le norme vigenti sulla protezione dei dati, in base al decreto provinciale L.D. 196/2003.</p>
                <h4>Informativa ai sensi dell´art. 13 D. LGS. 196/2003: </h4>
                <p>Ai sensi dell'articolo 13 del D. lgs n. 196/2003 Le forniamo le seguenti informazioni: Jugenddienst Unterland, via Canonica 1, 39044 Egna, utilizzerà i Vostri dati per gli seguenti scopi: invio di e-mail e lettere, per adempiere agli obblighi di legge derivanti anche da normative locali e comunali nonché da norme del diritto civile e penale, per adempiere ad eventuali obblighi contrattuali nei confronti dell'interessato, alla tutela del credito e gestione del debito. I Vostri dati saranno elaborati e memorizzati in formato elettronico.</p>
                <h4>Consenso alla pubblicazione di foto e riprese video:</h4>
                <p>Con la presente si informa espressamente che nell'ambito dello svolgimento dei programmi delle vacanze estive i partecipanti verranno fotografati e video ripresi da collaboratori autorizzati del "Jugenddienst Unterland". Dette fotografie e videoriprese verranno utilizzate esclusivamente per pubblicazioni legate alle attività inerenti al "Jugenddienst Unterland" in comunicati stampa, siti internet e fotoshows. Con l'apposizione della firma da parte del genitore autorizzato, lo stesso conferma di conoscere il contenuto sopra riportato e contestualmente dà il proprio consenso all'utilizzo a titolo gratuito delle foto e delle riprese agli scopi sopra indicati.</p>
            </div>
        </div>
</div>
</div>
