    <h3 class='text-orange col-sm-12'>Scheda informativa sulla protezione dei dati</h3>
	<h4>Programmi estivi Jugenddienst Bozen-Land</h4>
	    <div class='col-sm-9'>
			<p>Siamo lieti che vuoi partecipare al nostro programma estivo. Per poter partecipare, abbiamo bisogno di alcuni dati personali che Ti riguar-dano. Con la presente informativa informiamo Te e i tuoi genitori/esercenti della potestà genitoriale quali dati per quali obiettivi tratteremo.</p>
			<ol>
				<li>
					<h4>1.	Finalità del conferimento dei dati personali</h4>
					<div>
						Abbiamo bisogno alcuni dati personali che Ti riguardano in modo da sapere chi partecipa al programma estivo, quanti anni ha e quale classe frequenti, poiché la partecipazione al programma estivo è riservato ai giovani di una certa età. Abbiamo bisogno anche dei dati dei tuoi genitori / esercenti della potestà genitoriale per questioni organizzative e contatti in caso di emergenza. Inoltre, abbiamo bisogno di alcuni dati sanitari, in modo da poterci adeguare al meglio a concrete esigenze tue (ad es. cibo, disabilità, ecc.) e per poterti aiutare diret-tamente se necessario. Dati personali che useremo per pubbliche relazioni (vorremmo pubblicare p.e. tue foto) non sono necessari per la partecipazione al programma estivo. Per poterli trattare, abbiamo bisogno del consenso dei vostri genitori/ esercenti la potestà genitoriale.
					</div>
				</li>
				<li>
					<h4>Persone minorenni</h4>
					<div>
						Essendo minorenni, entrambi i genitori o gli esercenti della potestà genitoriale devono prendere atto della presente informativa sulla priva-cy o dare il loro consenso sia al trattamento dei dati sanitari che al trattamento dei dati facoltativi. Di seguito, il termine "Tu" comprende sia te personalmente che i rispettivi esercenti della potestà genitoriale.
					</div>
				</li>
				<li>
					<h4>Natura volontaria della trattamento</h4>
					<div>
						La raccolta e il trattamento dei dati personali da parte del Jugenddienst Bozen-Land è volontaria. Pertanto non sei obbligato a fornirci alcun dato personale. Tuttavia, se vuoi partecipare al programma estivo, devi fornirci i dati necessari.
					</div>
				</li>
				<li>
					<h4>Titolare del trattamento dei dati personali</h4>
					<div>
						Responsabile del trattamento dei dati personali è lo Jugenddienst Bozen-Land EO ("JD Bozen-Land"), Via Andreas Hofer 36, 39100 Bolzano, codice fiscale: 94072680211 in persona dell’attuale presidente, telefono 0471-324753, e-mail: info@jugenddienst.com.
					</div>
				</li>
				<li>
					<h4>Natura dei dati personali trattati</h4>
					<div>Il JD Bozen-Land sottolinea che vengono raccolti e trattati (memorizzati, trasmessi, ecc.) sia dati personali generali che categorie partico-lari di dati personali (dati sensibili come p.e. dati sanitari). </div>
				</li>
				<li>
					<h4>Comunicazione dei dati a terzi</h4>
					<div>
						I vostri dati personali saranno trasmessi a terzi. L'inoltro avviene al nostro responsabile del trattamento, attraverso il quale effettuiamo la registrazione online.
					</div>
				</li>
				<li>
					<h4>Durata del trattamento</h4>
					<div>
						I tuoi dati saranno, in linea di principio, conservati fino alla fine dell'anno solare successivo al programma estivo al quale hai partecipato. Ciò per poter fornire alle persone una conferma di partecipazione a fini fiscali. Inoltre, i programmi estivi sono cofinanziati dalle autorità pubbliche e quindi i tuoi dati devono essere conservati per il periodo indicato per eventuali controlli. I dettagli sulla durata del trattamento li trovi nella panoramica sottostante.
					</div>
				</li>
				<li>
					<h4>Panoramica del trattamento dei dati personali necessari</h4>
					<div>
						I seguenti dati personali vengono necessariamente trattati.
					</div>
					<table style="font-size: 60%">
						<thead>
							<tr>
								<th><strong>Categoria dati</strong></th>
								<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
								<th><strong>Cancellazione pianificata</strong></th>
								<th><strong>Trasferimento die dati?</strong></th>
								<th><strong>Finalità del trasferimento</strong></th>
							</tr>
						</thead>						
						<tbody>
						<tr>
							<td>Nome e cognome</td>
							<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto i partecipanti devono essere registrati anagrafica-mente</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Nome e cognome dei genitori / esercenti potestà genitoriale</td>
							<td>Art. 6, comma 1, lettera b) - necessa-rio per contattare i genitori/ esercenti potestà genitoriale del partecipante in caso di necessità</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Nome e cognome del contatto di emergenza (se non i genitori/ esercenti potestà genitoriale )</td>
							<td>Art. 6, comma 1, lettera b) - necessa-rio per contattare una persona di riferimento del partecipante in caso di necessi</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Data di nascita</td>
							<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto alcuni pro-grammi sono riservati a persone di una certa età</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Luogo di residenza (comune)</td>
							<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto alcuni pro-grammi sono riservati a persone residenti in un determinato luogo</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Classe della scuola frequentata</td>
							<td>Art. 6, comma 1, lettera b) - necessa-rio per la partecipazione al program-ma, in quanto alcuni programmi sono riservati solo a persone che frequenta-no una determinata classe</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Numero di telefono / numero di cellulare dei genitori /  esercenti potestà genitoriale</td>
							<td>Art. 6, comma 1, lettera f) - interesse legittimo del JD Bozen-Land di potersi rivolgere direttamente ai genitori/ esercenti potestà genitoriale per questioni organizzative urgenti (appuntamenti, cancellazioni, ecc.); L’interesse legittimo del JD Bozen-Land a fornire informazioni organiz-zative sul programma è da considerar-si supera il diritto alla protezione dei dati dei genitori/ esercenti potestà genitoriale</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>Numero di telefono / numero di cellulare dei genitori /  esercenti potestà genitoriale</td>
							<td>Art. 6, comma 1, lettera f) - legittimo interesse del JD Bozen-Land a contattare i genitori/ esercenti potestà genitoriale in caso di urgenza. L'interesse del JD  JD Bozen-Land di poter contattare i genitori/ esercenti potestà genitoriale in caso di necessità supera  il diritto dei genitori/ esercen-ti potestà genitoriale  alla protezione dei dati</td>
							<td>Fine dell'anno solare successivo alla partecipazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						<tr>
							<td>E-mail dei genitori /  esercenti potestà genitoriale</td>
							<td>Art. 6, comma 1, lettera f) - legittimo interesse del JD Bozen-Land a poter inviare informazioni organizzative (ad es. sul programma, note, ecc.) ai genitori /  esercenti potestà genitoria-le in forma non cartacea. L'interesse legittimo del JD Bozen-Land a fornire informazioni organizzative sul programma supera il diritto  dei genitori/ esercenti potestà genitoriale alla protezione dei dati</td>
							<td>I dati saranno conser-vati per l'invio del prospetto informativo degli anni seguenti, al fine di informare i genitori/tutori sui prossimi programmi estivi. Tali dati verranno cancellati in caso di esercizio del diritto di cancellazione</td>
							<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
							<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
						</tr>
						</tbody>
						</table>
					</table>
				</li>
				<li>
					<h4>Panoramica del trattamento dei dati sanitari</h4>
					<div>
						<table style="font-size: 60%">
							<thead>
								<tr>
									<th><strong>Categoria dati</strong></th>
									<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
									<th><strong>Cancellazione pianifi-cata</strong></th>
									<th><strong>Trasferimento die dati</strong></th>
									<th><strong>Finalità del trasferimento</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Dati sulla salute (allergie, intolleranze alimentari, farmaci)</td>
									<td>Art. 6, comma 1, lettere a) e d) e art. 9, comma 1 - necessari per l'adempimento del dovere di sorveglianza; protezione del minore da situazioni di pericolo di vita; necessario il consenso degli esercenti potestà genitoriale</td>
									<td>Alla fine del programma</td>
									<td>
										<ul>
											<li>Il programma di registrazione online viene eseguito tramite un server noleggiato, che si trova in Austria</li>
											<li>Medico / paramedico (in caso di necessità)</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto di trattamento</li>
											<li>Articolo 6, comma 1, lettera d) - Tutela della vita </li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Dati sulla salute (informazioni sulla menomazione fisica e/o mentale)</td>
									<td>Art. 6, comma 1, lettere a) e d) e art. 9, comma 1 - necessari per l'adempimento del dovere di sorveglianza; protezione del minore da situazioni di pericolo di vita; necessario il consenso degli esercenti potestà genitoria-le</td>
									<td>Alla fine del programma</td>
									<td>
										<ul>
											<li>Il programma di registrazione online viene eseguito tramite un server noleggiato, che si trova in Austria</li>
											<li>Medico / paramedico (in caso di necessità)</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto di trattamento</li>
											<li>Articolo 6, comma 1, lettera d) - Tutela della vita </li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Dati sanitari (certificato medico che conferma la non partecipazione al programma a causa di malattia)</td>
									<td>Art. 6, comma 1, lettere a) b) e d) e art. 9, comma 1 - necessa-rio per poter richiedere il contributo di partecipazione al programma; necessario il consenso degli esercenti potestà genitoriale</td>
									<td>Dopo la verifica da parte del JD Bozen-Land sulla sussistenza del motivo di risolu-zione del contratto</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>

					<h4>Panoramica sul trattamento dei dati personali facoltativi</h4>
					<div>
						<table style="font-size: 60%">
							<thead>
								<tr>
									<th><strong>Categoria dati</strong></th>
									<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
									<th><strong>Cancellazione pianificata</strong></th>
									<th><strong>Trasferimento die dati?</strong></th>
									<th><strong>Finalità del trasferimento</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Vor- und Nachname für Öffentlichkeits-arbeit</td>
									<td>Art. 6, Abs. 1, Buchst. a) – Einwilligung der betroffenen Person (bzw. Eltern /erziehungsberechtigten Perso-nen) notwendig, um deren Vor- und Nachnamen für die Öffent-lichkeitsarbeit des JD Bozen-Land zu verwenden</td>
									<td>Bei Veröffentlichungen in Medien bei Aus-übung Recht auf Löschen; Löschvorgang muss für den JD Bozen-Land  zumutbar sein</td>
									<td>
										<ul>
											<li>Homepage des JD Bozen-Land</li>
											<li>Newsletter des JD Bozen-Land</li>
											<li>Hauseigene Veröffentli-chungen</li>
											<li>Lokale Printmedien</li>
											<li>Soziale Medien</li>
										</ul>
									</td>
									<td>Art. 6, Abs. 1, Buchst. a) – Einwilli-gung der betroffenen Person notwendig</td>
								</tr>
								<tr>
									<td>Lichtbild für Öffentlichkeitsarbeit</td>
									<td>Art. 6, Abs. 1, Buchst. a) – Einwilligung der betroffenen Person (bzw. Eltern /erziehungsberechtigten Perso-nen) notwendig, um deren Lichtbild für die Öffentlich-keitsarbeit des JD Bozen-Land zu verwenden</td>
									<td>in Medien bei Ausübung Recht auf Löschen; Löschvorgang muss für den JD Bozen-Land  zumutbar sein</td>
									<td>
										<ul>
											<li>Homepage des JD Bozen-Land</li>
											<li>Newsletter des JD Bozen-Land</li>
											<li>Hauseigene Veröffentli-chungen</li>
											<li>Lokale Printmedien</li>
											<li>Soziale Medien</li>
										</ul>
									</td>
									<td>Art. 6, Abs. 1, Buchst. a) – Einwilli-gung der betroffenen Person notwendig</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>
					<h4>Art der Speicherung</h4>
					<div>
						Der JD Bozen-Land verarbeitet Deine personenbezogenen Daten in digitaler Form (elektronische Speicherung der Daten). Dabei ge-währleistet der JD Bozen-Land den größtmöglichen Schutz Deiner personenbezogenen Daten durch entsprechende technische und orga-nisatorische Maßnahmen.
					</div>
				</li>
				<li>
					<h4>Mitteilung der Daten an Drittländer oder internationale Organisatione</h4>
					<div>
						Es werden keine personenbezogenen Daten an einem Empfänger in einem Drittland oder einer internationalen Organisation übermittelt.
					</div>
				</li>
				<li>
					<h4>Auskunftsrecht</h4>
					<div>Du hast das Recht auf Auskunft über:
						<ul>
							<li>die Herkunft der personenbezogenen Daten;</li>
							<li>den Zweck und die Modalitäten der Verarbeitung;</li>
							<li>das angewandte System, falls die Daten elektronisch verarbeitet werden;</li>
							<li>die wichtigsten Daten zur Identifizierung des Rechtsinhabers und der Verantwortlichen;</li>
							<li>die Personen oder Kategorien von Personen, denen die personenbezogenen Daten übermittelt werden können oder die als im Staatsgebiet namhaft gemachte Vertreter, als Verantwortliche oder als Beauftragte davon Kenntnis erlangen können.</li>
						</ul>
				   </div>
				</li>
				<li>
					<h4>Weigerung</h4>
					<div>
						Solltest Du die notwendigen Daten nicht oder nicht zeitgerecht zur Verfügung stellen, kannst Du nicht am Sommerprogramm teilnehmen. Jedenfalls übernimmt der JD Bozen-Land aus Deiner Weigerung wegen keine Haftungen, weder Dir noch Dritten gegenübe
					</div>
				</li>
				<li>
					<h4>Recht auf Berichtigung, Löschung, „Vergessenwerden“, Einschränkung und Widerspruch</h4>
					<div>
						Du hast das Recht auf Berichtigung oder Löschung, auch „Vergessenwerden“ Deiner personenbezogenen Daten oder auf Einschränkung der Verarbeitung Ihrer Daten. Ebenso hast Du ein Widerspruchsrecht gegen die Verarbeitung. Ein entsprechender Antrag kann formlos an den JD Bozen-Land gestellt werden.
					</div>
				</li>
				<li>
					<h4>Beschwerderecht bei einer Aufsichtsbehörde</h4>
					<div>
						Du hast das Recht, bezüglich der Erhebung und Verarbeitung Deiner personenbezogenen Daten Beschwerde bei einer vom italienischen Staat hierfür bezeichneten Aufsichtsbehörde (dzt. italienische Datenschutzbehörde Garante per la protezione dei dati personali) zu erheben.
					</div>
				</li>
				<li>
					<h4>Aushändigung von Kopien</h4>
					<div>
						Du kannst eine Kopie Deiner vom JD Bozen-Land erhobenen und verarbeiteten personenbezogenen Daten beantragen. Die Übermittlung der Kopien erfolgt grundsätzlich in elektronischer Form, außer Du beantragst ausdrücklich eine Aushändigung in Papierform. Werden weitere Kopien beantragt, so kann der JD Bozen-Land ein angemessenes Entgelt hierfür in Rechnung stellen.
					</div>
				</li>
				<li>
					<h4>Recht auf Datenübertragbarkeit</h4>
					<div>
						Du hast das Recht, Deine personenbezogenen Daten, die Du dem JD Bozen-Land zur Verfügung gestellt hast, in einem strukturierten, gängigen und lesbaren Format zu erhalten. Ebenso hast Du das Recht, dass Deine Daten einer anderen, von Dir bezeichneten Person, ohne Behinderung übermittelt werden.
					</div>
				</li>
				<li>
					<h4>Verarbeitung von Gesundheitsdaten</h4>
					<div>
						Für die Teilnahme am Sommerprogramm ist die Verarbeitung von Gesundheitsdaten notwendig. Da es sich hierbei um besonders schützenswerte Daten handelt, ist die Einwilligung der Eltern / erziehungsberechtigten Personen notwendig.
					</div>
				</li>
				<li>
					<h4>Öffentlichkeitsarbeit – Fakultative Einwilligung</h4>
					<div>
						Es ist ein Anliegen des JD Bozen-Land, seine Tätigkeit auch der Öffentlichkeit vorzustellen. Da die Erfüllung dieses Anliegens nicht notwendig für die Teilnahme am Sommerprogramm ist, bedarf es einer ausdrücklichen Einwilligung seitens der erziehungsberechtigten Personen.
					</div>
				</li>
			</ol>
	    </div>
</div>