<h3 class='text-orange col-sm-12'>Scheda informativa sulla protezione dei dati</h3>
<h4>Programmi estivi Jugenddienst Bozen</h4>
	<div class='col-sm-9'>
		<p>Siamo lieti che vuoi partecipare al nostro programma estivo. Per poter partecipare, abbiamo bisogno di alcuni dati personali che ti riguardano. Con la presente informativa informiamo Te e i tuoi genitori/esercenti della potestà genitoriale quali dati per quali obiettivi tratteremo.</p>
		<ol>
			<li>
				<h4>Finalità del conferimento dei dati personali</h4>
				<div>
					Abbiamo bisogno di alcuni dati personali che Ti riguardano in modo da sapere chi partecipa al programma estivo, quanti anni ha e quale classe frequenti, poiché la partecipazione al programma estivo è riservato ai giovani di una certa età. Abbiamo bisogno anche dei dati dei tuoi genitori / esercenti della potestà genitoriale per questioni organizzative e contatti in caso di emergenza. Inoltre, abbiamo bisogno di alcuni dati sanitari, in modo da poterci adeguare al meglio a concrete esigenze tue (ad es. cibo, disabilità, ecc.) e per poterti aiutare direttamente se necessario. Dati personali che useremo per pubbliche relazioni (vorremmo pubblicare p.e. tue foto) non sono necessari per la partecipazione al programma estivo. Per poterli trattare, abbiamo bisogno del consenso dei vostri genitori/ esercenti la potestà genitoriale.
				</div>
			</li>
			<li>
				<h4>Persone minorenni</h4>
				<div>
					Essendo minorenni, entrambi i genitori o gli esercenti della potestà genitoriale devono prendere atto della presente informativa sulla priva-cy o dare il loro consenso sia al trattamento dei dati sanitari che al trattamento dei dati facoltativi. Di seguito, il termine "Tu" comprende sia te personalmente che i rispettivi esercenti della potestà genitoriale.
				</div>
			</li>
			<li>
				<h4>Natura volontaria della trattamento</h4>
				<div>
					La raccolta e il trattamento dei dati personali da parte del Jugenddienst Bozen è volontaria. Pertanto non sei obbligato a fornirci alcun dato personale. Tuttavia, se vuoi partecipare al programma estivo, devi fornirci i dati necessari.
				</div>
			</li>
			<li>
				<h4>Titolare del trattamento dei dati personali</h4>
				<div>
					Responsabile del trattamento dei dati personali è lo Jugenddienst Bozen EO ("JD Bozen"), Pfarrplatz 24, 39100 Bozen, codice fiscale: 94008410212 in persona dell’attuale presidente, telefono 0471-92098, e-mail: info@jd.bz.it.
				</div>
			</li>
			<li>
				<h4>Natura dei dati personali trattati</h4>
				<div>Il JD Bozen sottolinea che vengono raccolti e trattati (memorizzati, trasmessi, ecc.) sia dati personali generali che categorie partico-lari di dati personali (dati sensibili come p.e. dati sanitari). </div>
			</li>
			<li>
				<h4>Comunicazione dei dati a terzi</h4>
				<div>
					I vostri dati personali saranno trasmessi a terzi. L'inoltro avviene al nostro responsabile del trattamento, attraverso il quale effettuiamo la registrazione online.
				</div>
			</li>
			<li>
				<h4>Durata del trattamento</h4>
				<div>
					I tuoi dati saranno, in linea di principio, conservati fino alla fine dell'anno solare successivo al programma estivo al quale hai partecipato. Ciò per poter fornire alle persone una conferma di partecipazione a fini fiscali. Inoltre, i programmi estivi sono cofinanziati dalle autorità pubbliche e quindi i tuoi dati devono essere conservati per il periodo indicato per eventuali controlli. I dettagli sulla durata del trattamento li trovi nella panoramica sottostante.
				</div>
			</li>
			<li>
				<h4>Panoramica del trattamento dei dati personali necessari</h4>
				<div>
					I seguenti dati personali vengono necessariamente trattati.
				</div>
				<table style="font-size: 60%">
					<thead>
						<tr>
							<th><strong>Categoria dati</strong></th>
							<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
							<th><strong>Cancellazione pianificata</strong></th>
							<th><strong>Trasferimento die dati?</strong></th>
							<th><strong>Finalità del trasferimento</strong></th>
						</tr>
					</thead>						
					<tbody>
					<tr>
						<td>Nome e cognome</td>
						<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto i partecipanti devono essere registrati anagrafica-mente</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Nome e cognome dei genitori / esercenti potestà genitoriale</td>
						<td>Art. 6, comma 1, lettera b) - necessa-rio per contattare i genitori/ esercenti potestà genitoriale del partecipante in caso di necessità</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Nome e cognome del contatto di emergenza (se non i genitori/ esercenti potestà genitoriale )</td>
						<td>Art. 6, comma 1, lettera b) - necessa-rio per contattare una persona di riferimento del partecipante in caso di necessi</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Data di nascita</td>
						<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto alcuni pro-grammi sono riservati a persone di una certa età</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Luogo di residenza (comune)</td>
						<td>Articolo 6, paragrafo 1, lettera b) - necessario per la partecipazione al programma, in quanto alcuni pro-grammi sono riservati a persone residenti in un determinato luogo</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Classe della scuola frequentata</td>
						<td>Art. 6, comma 1, lettera b) - necessa-rio per la partecipazione al program-ma, in quanto alcuni programmi sono riservati solo a persone che frequenta-no una determinata classe</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Numero di telefono / numero di cellulare dei genitori /  esercenti potestà genitoriale</td>
						<td>Art. 6, comma 1, lettera f) - interesse legittimo del JD Bozen di potersi rivolgere direttamente ai genitori/ esercenti potestà genitoriale per questioni organizzative urgenti (appuntamenti, cancellazioni, ecc.); L’interesse legittimo del JD Bozen a fornire informazioni organiz-zative sul programma è da considerar-si supera il diritto alla protezione dei dati dei genitori/ esercenti potestà genitoriale</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>Numero di telefono / numero di cellulare dei genitori /  esercenti potestà genitoriale</td>
						<td>Art. 6, comma 1, lettera f) - legittimo interesse del JD Bozen a contattare i genitori/ esercenti potestà genitoriale in caso di urgenza. L'interesse del JD  JD Bozen di poter contattare i genitori/ esercenti potestà genitoriale in caso di necessità supera  il diritto dei genitori/ esercen-ti potestà genitoriale  alla protezione dei dati</td>
						<td>Fine dell'anno solare successivo alla partecipazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					<tr>
						<td>E-mail dei genitori /  esercenti potestà genitoriale</td>
						<td>Art. 6, comma 1, lettera f) - legittimo interesse del JD Bozen a poter inviare informazioni organizzative (ad es. sul programma, note, ecc.) ai genitori /  esercenti potestà genitoria-le in forma non cartacea. L'interesse legittimo del JD Bozen a fornire informazioni organizzative sul programma supera il diritto  dei genitori/ esercenti potestà genitoriale alla protezione dei dati</td>
						<td>I dati saranno conser-vati per l'invio del prospetto informativo degli anni seguenti, al fine di informare i genitori/tutori sui prossimi programmi estivi. Tali dati verranno cancellati in caso di esercizio del diritto di cancellazione</td>
						<td>Il programma di registrazione online viene eseguito tramite un server noleggiato che si trova in Austria</td>
						<td>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto apposito con il respon-sabile del trattamento</td>
					</tr>
					</tbody>
					</table>
				</table>
			</li>
			<li>
				<h4>Panoramica del trattamento dei dati sanitari</h4>
				<div>
					<table style="font-size: 60%">
						<thead>
							<tr>
								<th><strong>Categoria dati</strong></th>
								<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
								<th><strong>Cancellazione pianifi-cata</strong></th>
								<th><strong>Trasferimento die dati</strong></th>
								<th><strong>Finalità del trasferimento</strong></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Dati sulla salute (allergie, intolleranze alimentari, farmaci)</td>
								<td>Art. 6, comma 1, lettere a) e d) e art. 9, comma 1 - necessari per l'adempimento del dovere di sorveglianza; protezione del minore da situazioni di pericolo di vita; necessario il consenso degli esercenti potestà genitoriale</td>
								<td>Alla fine del programma</td>
								<td>
									<ul>
										<li>Il programma di registrazione online viene eseguito tramite un server noleggiato, che si trova in Austria</li>
										<li>Medico / paramedico (in caso di necessità)</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto di trattamento</li>
										<li>Articolo 6, comma 1, lettera d) - Tutela della vita </li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Dati sulla salute (informazioni sulla menomazione fisica e/o mentale)</td>
								<td>Art. 6, comma 1, lettere a) e d) e art. 9, comma 1 - necessari per l'adempimento del dovere di sorveglianza; protezione del minore da situazioni di pericolo di vita; necessario il consenso degli esercenti potestà genitoria-le</td>
								<td>Alla fine del programma</td>
								<td>
									<ul>
										<li>Il programma di registrazione online viene eseguito tramite un server noleggiato, che si trova in Austria</li>
										<li>Medico / paramedico (in caso di necessità)</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Articolo 6, paragrafo 1, lettere b) e c), in combinato disposto con l'articolo 28 - la trasmissione è effettuata sulla base di un contratto di trattamento</li>
										<li>Articolo 6, comma 1, lettera d) - Tutela della vita </li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Dati sanitari (certificato medico che conferma la non partecipazione al programma a causa di malattia)</td>
								<td>Art. 6, comma 1, lettere a) b) e d) e art. 9, comma 1 - necessa-rio per poter richiedere il contributo di partecipazione al programma; necessario il consenso degli esercenti potestà genitoriale</td>
								<td>Dopo la verifica da parte del JD Bozen sulla sussistenza del motivo di risolu-zione del contratto</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li>

				<h4>Panoramica sul trattamento dei dati personali facoltativi</h4>
				<div>
					<table style="font-size: 60%">
						<thead>
							<tr>
								<th><strong>Categoria dati</strong></th>
								<th><strong>Base giuridica GDPR - Finalità del trattamento</strong></th>
								<th><strong>Cancellazione pianificata</strong></th>
								<th><strong>Trasferimento die dati?</strong></th>
								<th><strong>Finalità del trasferimento</strong></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Nome e cognome per le pubbliche relazioni</td>
								<td>Art. 6, comma 1, lettera a) – Necessario consenso dell'interes-sato (o dei genitori/ esercenti potestà genitoriale) per l'utilizzo del nome e cognome per le pubbliche relazioni del JD Bozen</td>
								<td>Nel caso di pubblica-zioni nei media al momento dell’esercizio del diritto di cancella-zione; il processo di cancellazione deve essere ragionevole per il JD Bozen</td>
								<td>
									<ul>
										<li>Sito weg del JD Bozen</li>
										<li>Newsletter del JD Bozen </li>
										<li>pubblicazioni interne</li>
										<li>Stampa locale</li>
										<li>Social media</li>
									</ul>
								</td>
								<td>Articolo 6, comma 1, lettera a) – necessario il consenso dell'interessato (o dei genitori/ esercenti potestà genitoriale)</td>
							</tr>
							<tr>
								<td>Foto e/o video per le pubbliche relazioni</td>
								<td>Art. 6, comma 1, lettera a) – Necessario consenso dell'interes-sato (o dei genitori/ esercenti potestà genitoriale ) per l'utiliz-zo del nome e cognome per le pubbliche relazioni del JD Bozen</td>
								<td>Nel caso di pubblica-zioni nei media al momento dell’esercizio del diritto di cancella-zione; il processo di cancellazione deve essere ragionevole per il JD Bozen</td>
								<td>
									<ul>
										<li>Sito weg del JD Bozen</li>
										<li>Newsletter del JD Bozen </li>
										<li>pubblicazioni interne</li>
										<li>Stampa locale</li>
										<li>Social media</li>
									</ul>
								</td>
								<td>Articolo 6, comma 1, lettera a) – necessario il consenso dell'interessato (o dei genitori/ esercenti potestà genitoriale)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<h4>Tipo di conservazione dei dati</h4>
				<div>
					Il JD Bozen elabora i tuoi dati personali in forma digitale (archiviazione elettronica dei dati). Il JD Bozen garantisce la mas-sima protezione dei vostri dati personali attraverso adeguate misure tecniche e organizzative.
				</div>
			</li>
			<li>
				<h4>Comunicazione dei dati a paesi terzi o organizzazioni internazionali</h4>
				<div>
					Nessun dato personale viene trasferito a un destinatario in un paese terzo o a un'organizzazione internazionale.
				</div>
			</li>
			<li>
				<h4>Diritto all'informazione</h4>
				<div>Hai il diritto di sapere:
					<ul>
						<li>l'origine dei dati personali;</li>
						<li>le finalità e le modalità del trattamento;</li>
						<li>il sistema applicato, se i dati sono trattati elettronicamente</li>
						<li>i principali dati identificativi del titolare del diritto e dei responsabili;</li>
						<li>dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</li>
					</ul>
			   </div>
			</li>
			<li>
				<h4>Rifiuto</h4>
				<div>
					Se non fornisci i dati necessari o non li fornisci in tempo, non potrai partecipare al programma estivo. In ogni caso, il JD Bozen non si assume alcuna responsabilità, né verso di te né verso terzi, a causa del tuo rifiuto.
				</div>
			</li>
			<li>
				<h4>Diritto di rettifica, cancellazione, "dimenticanza", restrizione e opposizione</h4>
				<div>
					Hai il diritto di far correggere o cancellare, anche "all’oblio" dei tuoi dati personali o di limitare il trattamento dei tuoi dati. Hai anche il diritto di opporti al trattamento. Una richiesta in tal senso può essere inoltrata in modo informale al JD Bozen.
				</div>
			</li>
			<li>
				<h4>Diritto di ricorso ad un'autorità di vigilanza</h4>
				<div>
					Hai il diritto di presentare un reclamo in merito alla raccolta e al trattamento dei tuoi dati personali presso un'autorità di controllo designata a tal fine dallo Stato italiano (attualmente il Garante per la protezione dei dati personali).
				</div>
			</li>
			<li>
				<h4>Consegna di copie</h4>
				<div>
					Puoi richiedere una copia dei tuoi dati personali raccolti e trattati dal JD Bozen. La trasmissione delle copie avverà in forma elettro-nica, a meno che non si richieda espressamente una copia cartacea. Se vengono richieste ulteriori copie, il JD Bozen può addebitare un compenso adeguato. 
				</div>
			</li>
			<li>
				<h4>Diritto alla portabilità dei dati</h4>
				<div>
					Hai il diritto di ricevere i tuoi dati personali che hai fornito al JD Bozen in un formato strutturato, comune e leggibile. Hai inoltre il diritto di far trasferire i tuoi dati ad un'altra persona da te designata senza alcun impedimento.
				</div>
			</li>
			<li>
				<h4>Elaborazione dei dati sanitari</h4>
				<div>
					L'elaborazione dei dati sanitari è necessaria per la partecipazione al programma estivo. Poiché questi dati sono particolarmente degni di protezione, è necessario il consenso dei genitori / esercenti della potestà genitoriale.
				</div>
			</li>
			<li>
				<h4>Relazioni pubbliche - Consenso facoltativo</h4>
				<div>
					È intenzione del JD Bozen a presentare le sue attività al pubblico. Poiché l'adempimento di questa richiesta non è necessario per la partecipazione al programma estivo, è necessario il consenso esplicito delle persone che esercitano la potestà genitoriale.
				</div>
			</li>
		</ol>
	</div>
</div>