<div class="container">
	<h2 class='text-orange'>Bildfreigabe</h2>
	<div class="col-sm-8">
	<p>
		Zu Dokumentations- und PR-Zwecken werden während des KiSo Fotos und Filmaufnahmen der
		Teilnehmer*innen gemacht und ggf. veröffentlicht werden. Aus der Veröffentlichung entsteht für
		den Jugenddienst keinerlei wirtschaftlicher Vorteil, dementsprechend können von den abgebildeten
		Personen keine Entschädigung oder andere Rechte geltend gemacht werden. Gegen die Verwendung
		von Fotos mit identifizierbaren Personen kann seitens der Eltern jederzeit Einspruch erhoben
		werden.
	</p>
	</div>
</div>