<div class="container">
	<h2 class='text-orange'>Liberatoria immagini</h2>
	<div class="col-sm-8">
	<p>
		Ai fini di documentazione e relazioni pubbliche, durante il KiSo verranno scattate foto e verranno
		fatte delle riprese dei partecipanti che eventualmente potranno essere pubblicate. La pubblicazione
		del materiale non comporterà alcun vantaggio commerciale per il Jugenddienst Bozen, di
		conseguenza non si potranno richiedere risarcimenti di nessun tipo. Un genitore deve esprimere il
		suo dissenso a riguardo, prima dell’inizio del KiSo.	
	</p>
	</div>
</div>