<div class="container">
		<h2 class='text-orange'>Privacy</h2>
		<h4 class='text-organe'>Informativa sulla privacy per il sito www.kiso.bz.it</h4>
	<div class="col-sm-8">
		<ol>
			<li><strong>Informazioni di base</strong>
				<p>
					La presente informativa sulla privacy ha lo scopo di informare gli utenti di questo sito web sulla
					natura, la portata e le finalità della raccolta e dell'utilizzo dei dati personali da parte dello
					Jugenddienst Bozen EO in qualità di gestore di questo sito web www.kiso.bz.it. Le seguenti
					informazioni sono fornite in conformità ai requisiti del regolamento europeo sulla protezione dei dati
					personali n. 2016/679 (di seguito denominato "EPDP").
				</p>
				<p>
					Lo Jugenddienst Bozen EO tratta i vostri dati personali in modo confidenziale e secondo le
					disposizioni di legge. Poiché le nuove tecnologie e il costante sviluppo di questo sito web possono
					comportare modifiche alla presente dichiarazione di protezione dei dati, vi raccomandiamo di
					rileggere periodicamente la dichiarazione di protezione dei dati.
				</p>
				<p>
					Le definizioni dei termini utilizzati (ad es. "dati personali" o "trattamento") sono riportate
					nell'articolo 4 del REPDP.
				</p>
			</li>
			<li><strong>Dati di accesso</strong>
				<p>
					Il sito web non utilizza cookies.
				</p>
			</li>
			<li><strong>Raccolta e trattamento dei dati personali</strong>
				<p>
					Lo Jugenddienst Bozen EO sottolinea che i dati personali come nome, data di nascita, indirizzo e-mail
					o numero di telefono sono memorizzati ai fini del processo di registrazione. I dati da voi forniti sono
					necessari per la corretta registrazione al programma estivo o per la sua attuazione. Senza questi dati
					non possiamo completare la registrazione con voi. I dati di contatto come l&#39;indirizzo e-mail o il
					numero di telefono servono allo Jugenddienst Bozen EO come indirizzo di comunicazione. Il
					trasferimento di dati a terzi non avviene.
				</p>
				<p>
					Se il processo di registrazione viene interrotto, non viene salvato alcun dato inserito. In caso di
					registrazione, tutti i dati del rapporto contrattuale saranno conservati fino alla fine del periodo di
					conservazione fiscale (7 anni). Il trattamento dei dati avviene sulla base delle disposizioni del diritto
					austriaco, ai sensi del § 96 comma 3 TKG e dell'art. 6 comma 1 lettera a (consenso) e/o lettera b
					(necessario per l'adempimento del contratto) del REPDP.
				</p>
			</li>
			<li><strong>Analisi del web</strong>
				<p>Il nostro sito web non utilizza la funzionalità di analisi web.</p>
			</li>
			<li><strong>Iscrizione alla newsletter</strong>
				<p>
					Lo Jugenddienst Bozen EO vi offre una newsletter in cui sarete informati su eventi e attività attuali.
				</p>
				<p>
					Se si desidera attivare il servizio di newsletter, vengono memorizzati i seguenti dati personali:
				</p>
				<ul>
					<li>Nome e Cognome</li>
					<li>Indirizzo e-mail</li>
				</ul>
				<p>
					Questi dati vengono trattati sulla base del vostro consenso, che può essere revocato in qualsiasi
					momento mediante disattivazione.
				</p>
				<p>
					I vostri dati vengono memorizzati elettronicamente in conformità con i requisiti del REPDP e vengono
					automaticamente cancellati in caso di disattivazione del servizio di newsletter. Questi dati non
					saranno ceduti a terzi.
				</p>
			</li>
			<li><strong>Diritti dell'utente</strong>
				<p>
					L'utente ha il diritto di richiedere informazioni gratuite su quali dati personali che lo riguardano sono
					stati memorizzati. Avete anche il diritto di correggere i dati errati e di limitare o cancellare il
					trattamento dei vostri dati personali. Se del caso, si può anche esercitare il diritto alla portabilità dei
					dati. Se ritenete che i vostri dati siano stati trattati illegalmente, potete presentare un reclamo
					all'autorità di controllo competente.
				</p>
			</li>
			<li><strong>Diritto di rettifica, cancellazione, "dimenticanza", limitazione e opposizione</strong>
				<p>
					Avete il diritto di far rettificare, cancellare, "dimenticare" o limitare il trattamento dei vostri dati
					personali. Hai anche il diritto di opporsi all'elaborazione. Una domanda corrispondente può essere
					presentata in via informale allo Jugenddienst Bozen EO. Se, esercitando tale diritto, la prestazione del
					servizio non può essere eseguita correttamente, ad esempio perché i dati necessari non sono più
					disponibili, la Jugenddienst Bozen EO non si assume alcuna responsabilità per il vostro
					comportamento scorretto, né verso di voi né verso terzi.
				</p>
				<p>
					Per i reclami dello Jugenddienst Bozen EO, che esistono contro di voi dopo la fine dell'utilizzo
					dell'offerta, lo Jugenddienst Bozen EO può conservare tutti i dati personali per l'esecuzione dei crediti
					fino al completamento dell'esecuzione del reclamo.
				</p>
			</li>
			<li><strong>Diritto di ricorso presso un'autorità di controllo</strong>
				<p>
						Avete il diritto di presentare un reclamo per la raccolta e il trattamento dei vostri dati personali ad
						un'autorità di controllo designata a tal fine dallo Stato italiano (attualmente il Garante per la
						protezione dei dati personali) o dall'autorità austriaca per la protezione dei dati personali.
				</p>
			</li>
			<li><strong>Consegna delle copie</strong>
				<p>
					Potete richiedere una copia dei vostri dati personali raccolti ed elaborati dal Jugenddienst Bozen EO.
					Le copie saranno inviate elettronicamente a meno che non venga espressamente richiesta una copia
					cartacea. In caso di richiesta di ulteriori copie, il Jugenddienst Bozen EO può applicare una tassa
					appropriata.
				</p>
			</li>
			<li><strong>diritto alla trasferibilità dei dati</strong>
				<p>
					Avete il diritto di ricevere i dati personali che avete fornito al Jugenddienst Bozen EO in forma
					strutturata, comune e leggibile. Ha anche il diritto di far trattare i Suoi dati da parte dell'EO.
				</p>
			</li>
		</ol>
	</div>
</div>