<div class="container">
	<h2 class='text-orange'>Privacy</h2>
	<h4 class='text-organe'>Datenschutzerklärung für die Webseite www.kiso.bz.it</h4>
	<div class="col-sm-8">
	<ol>
		<li><strong>Grundlegendes</strong>
			<p>
				Diese Datenschutzerklärung soll die Nutzer dieser Webseite über die Art, den Umfang und den Zweck
				der Erhebung und Verwendung personenbezogener Daten durch den Jugenddienst Bozen EO als
				Betreiber dieser Webseite www.kiso.bz.it informieren. Die nachstehenden Informationen ergehen
				dabei in Übereinstimmung mit den Vorgaben der Europäischen Datenschutzgrundverordnung Nr.
				2016/679 (in der Folge kurz „DSGVO“).
			</p>
			<p>
				Der Jugenddienst Bozen EO behandelt Ihre personenbezogenen Daten vertraulich und entsprechend
				der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung
				dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können,
				empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.
			</p>
			<p>
				Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden
				Sie in Art. 4 DSGVO.
			</p>
		</li>
		<li><strong>Zugriffsdaten</strong>
			<p>
				Die Website verwendet keine Cookies.
			</p>
		</li>
		<li><strong>Erfassung und Verarbeitung personenbezogener Datent</strong>
			<p>
				Der Jugenddienst Bozen EO weist darauf hin, dass zum Zweck des Anmeldevorgangs persönliche
				Daten wie Name, Geburtsdatum, Email-Adresse oder Telefonnummer gespeichert werden. Die von
				Ihnen bereit gestellten Daten sind zur sachgemäßen Anmeldung zum Sommerprogramm bzw. dessen
				Durchführung erforderlich. Ohne diese Daten können wir die Anmeldung mit Ihnen nicht
				abschließen. Kontaktdaten wie Email-Adresse oder Telefonnummer dienen dem Jugenddienst Bozen
				EO als Kommunikationsadresse. Eine Datenübermittlung an Dritte erfolgt nicht.
			</p>
			<p>
				Bei Abbruch des Anmeldevorganges werden keine eingegebenen Daten gespeichert. Im Falle einer
				Anmeldung werden sämtliche Daten aus dem Vertragsverhältnis bis zum Ablauf der
				steuerrechtlichen Aufbewahrungsfrist (7 Jahre) gespeichert. Die Datenverarbeitung erfolgt auf Basis
				der Bestimmungen des Österreichischen Gesetzes, gemäß § 96 Abs 3 TKG sowie des Art 6 Abs 1 lit a
				(Einwilligung) und/oder lit b (notwendig zur Vertragserfüllung) der DSGVO.
			</p>
		</li>
		<li><strong>Web-Analyse</strong>
			<p>Unsere Website verwendet keine Web-Analysefunktionalität.</p>
		</li>
		<li><strong>Newsletter-Abonnement</strong>
			<p>
				Der Jugenddienst Bozen EO bietet Ihnen einen Newsletter an, in welchem Sie über aktuelle
				Geschehnisse und Angebote informiert werden.
			</p>
			<p>
				Sofern Sie den Newsletter-Dienst aktivieren möchten, werden folgende personenbezogenen Daten
				von Ihnen gespeichert:
			</p>
			<ul>
				<li>Name und Nachname</li>
				<li>E-Mail-Adresse</li>
			</ul>
			<p>
				Die Verarbeitung dieser Daten erfolgt auf der Basis Ihrer Zustimmung, die jederzeit mittels
				Deaktivierung widerrufen werden kann.
			</p>
			<p>
				Ihre Daten werden elektronisch unter Beachtung der Vorgaben der DSGVO gespeichert und bei
				Deaktivierung des Newsletter-Dienstes automatisch gelöscht. Diese Daten werden nicht an Dritte
				weitergegeben.
			</p>
		</li>
		<li><strong>Rechte des Nutzers</strong>
			<p>
				Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche
				personenbezogenen Daten über Sie gespeichert wurden. Sie haben außerdem das Recht auf
				Berichtigung falscher Daten und auf die Verarbeitungseinschränkung oder Löschung Ihrer
				personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht auf Datenportabilität geltend
				machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können Sie eine
				Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
			</p>
		</li>
		<li><strong>Recht auf Berichtigung, Löschung, „Vergessenwerden“, Einschränkung und Widerspruch</strong>
			<p>
				Sie haben das Recht auf Berichtigung oder Löschung, auch „Vergessenwerden“ Ihrer
				personenbezogenen Daten oder auf Einschränkung der Verarbeitung Ihrer Daten. Ebenso haben Sie
				ein Widerspruchsrecht gegen die Verarbeitung. Ein entsprechender Antrag kann formlos an der
				Jugenddienst Bozen EO gestellt werden. Kann durch Ausübung dieses Rechts die Erbringung des
				Angebots, etwa weil notwendige Daten nicht mehr zur Verfügung stehen, nicht ordnungsgemäß
				erfüllt werden, übernimmt der Jugenddienst Bozen EO keinerlei Haftungen aus Ihrem Fehlverhalten,
				weder Ihnen noch Dritten gegenüber.
			</p>
			<p>
				Für Ansprüche des Jugenddienst Bozen EO, die nach Beendigung der Angebotsnutzung Ihnen
				gegenüber bestehen, kann diese sämtliche, für die Durchsetzung der Ansprüche personenbezogenen
				Daten solange gespeichert halten, bis die Durchsetzung des Anspruches abgeschlossen ist.
			</p>
		</li>
		<li><strong>Beschwerderecht bei einer Aufsichtsbehörde</strong>
			<p>
				Sie haben das Recht, bezüglich der Erhebung und Verarbeitung Ihrer personenbezogenen Daten
				Beschwerde bei einer vom italienischen Staat hierfür bezeichneten Aufsichtsbehörde (dzt.
				italienische Datenschutzbehörde Garante per la protezione dei dati personali) bzw. der
				österreichischen Datenschutzbehörde zu erheben.
			</p>
		</li>
		<li><strong>Aushändigung von Kopien</strong>
			<p>
				Sie können eine Kopie Ihrer vom Jugenddienst Bozen EO erhobenen und verarbeiteten
				personenbezogenen Daten beantragen. Die Übermittlung der Kopien erfolgt grundsätzlich in
				elektronischer Form, außer Sie beantragen ausdrücklich eine Aushändigung in Papierform. Werden
				weitere Kopien beantragt, so kann der Jugenddienst Bozen EO ein angemessenes Entgelt hierfür in
				Rechnung stellen.
			</p>
		</li>
		<li><strong>Recht auf Datenübertragbarkeit</strong>
			<p>
				Sie haben das Recht, Ihre personenbezogenen Daten, die Sie dem Jugenddienst Bozen EO zur
				Verfügung gestellt haben, in einem strukturierten, gängigen und lesbaren Format zu erhalten.
				Ebenso haben Sie das Recht, dass Ihre Daten einer anderen, von Ihnen bezeichneten Person, ohne
				Behinderung übermittelt werden.
			</p>
			<p>
				Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person
				gespeicherten personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung
				oder Verwendung Ihrer personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen
				möchten, wenden Sie sich bitte an folgende E-Mail-Adresse: info@jd.bz.it.
			</p>
		</li>
	</ol>
	</div>
</div>