.tbl_hide {
  display: none;
}

.tbl_show {
  display: inline;
}

.toast-top-right {
    top: 100px;
}

.text-orange {
	color: orange;
}

.navbar-brand {
	margin-bottom: 10px;
}

.navbar-brand > img {
	width: 120px;
}

.navbar-nav li a {
	height: 80px;
	line-height: 60px;
}

.brand {
	font-weight: bold;
}

.brand-orange {
	color: orange;
}

.brand-black {
	color: black;
}

.act-status-container {
    height: 100%;
}

.act-status {
    border: 1px solid LightGray;
    font-weight: bolder;
    color: gray;
    padding: 6px;
    text-align: center;
}

.act-status-txt {
    width: 100%;
    margin-left: 4px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    vertical-align: center;
}

.btn-main {
  line-height: normal;
  font-size: 40px;
  padding: 10px 10px;
  color: orange;
}

.btn-main a:link, .btn-main a:visited, .btn-main a:hover, .btn-main a:active {
    color: orange;
    text-decoration: none;
}

.btn-xlarge {
    margin-top: 2px;
    padding: 6px 12px;
    font-size: 20px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.bgc-red {
	background: #F64A4A;
}

.bgc-orange {
	background: orange;
}

.bgc-orange-light {
  background: #D3D3D3;
}

.bgc-green {
	background: #11F33A;
}

.sel-base {
   width: 180px;
   height: 30px;
   overflow: hidden;
   border: 1px solid #ccc;
}
