.tbl_hide {
  display: none;
}

.tbl_show {
  display: table-row;
}

.btn_report_collapse {
  width: 25px;
  height: 25px;
}

.toast-top-right {
    top: 100px;
}

.text-orange {
	color: orange;
}

.invisible-link:hover {
    text-decoration: none;
}
.invisible-link {
    color: white !important;
}

.bg-darkorange {
    background-color: orange;
}

.card-orange {
    width:250px;
    max-height: 200px;
    float:left;
    margin-right:10px;
    margin-top:10px;
    padding: 10px;
    background-color: rgba(255,165,0,.80);
    color: white;
    border-right:3px solid orange;
    border-bottom:3px solid orange;
}

.navbar-brand {
    padding-top: 0px;
	margin-bottom: 0px;
}

/* .navbar-brand > img {
	width: 120px;
} */

/* .navbar-nav li a {
	height: 80px;
	line-height: 60px;
} */

.brand {
	font-weight: bold;
}

.brand-orange {
	color: orange;
}

.brand-black {
	color: black;
}

.act-status-container {
    height: 100%;
}

.act-status {
    border: 1px solid LightGray;
    font-weight: bolder;
    color: gray;
    padding: 6px;
    text-align: center;
}

.act-status-txt {
    width: 100%;
    margin-left: 4px;
    margin-top: 6px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    vertical-align: center;
}

.btn-main {
  line-height: normal;
  font-size: 40px;
  padding: 10px 10px;
  color: orange;
}

.btn-main a:link, .btn-main a:visited, .btn-main a:hover, .btn-main a:active {
    color: orange;
    text-decoration: none;
}

.btn-xlarge {
    margin-top: 2px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.bgc-red {
	background: #F64A4A;
}

.bgc-orange {
	background: orange;
}

.bgc-orange-light {
  background: #D3D3D3;
}

.bgc-green {
	background: #11F33A;
}

.sel-base {
   width: 180px;
   height: 30px;
   overflow: hidden;
   border: 1px solid #ccc;
}

.tbl-serial3 {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.tbl-serial3 td:nth-child(3):before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

.tbl-serial1 {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.tbl-serial1 td:nth-child(1):before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}