<div class='container'>
<h2 class='text-orange'>Allgemeine Gesch&auml;tsbedingungen</h2>
<p>
	<ol>
	<li>Die Eltern bzw. Erziehungsberechtigten &uuml;bernehmen die Verantwortung f&uuml;r den Hin- und R&uuml;ckweg des Kindes zu den jeweiligen Programmen. Untertags werden die Jugendlichen von den Betreuer/innen beaufsichtigt.</li>
	<li>Versicherung: Alle Teilnehmer/innen sind &uuml;ber die Versicherung AGJD (Arbeitsgemeinschaft der Jugenddienste) Haftpflicht versichert.</li>
	<li>Kostenr&uuml;ckerstattung nur bei Krankheit mit Vorlage des &auml;rztlichen Zeugnisses.</li>
	<li>Die Eltern bzw. Erziehungsberechtigten erkl&auml;ren sich mit Disziplinar-ma&szlig;nahmen der Betreuer/innen einverstanden: Bei wiederholten Verst&ouml;&szlig;en gegen Vereinbarungen und nach R&uuml;cksprache mit dem Elternhaus werden die Jugendlichen nach Hause geschickt.</li>
	<li>Aufgrund der Privacy-Bestimmungen sind wir verpflichtet, die Eltern um Erlaubnis zu fragen, Fotos und Videos von den Kindern machen zu d&uuml;rfen und einzelne davon im Sinne der T&auml;tigkeit des Vereins (z.B. Presseaussendungen, Informationsbrosch&uuml;ren, Internetauftritte) ver&ouml;ffentlichen zu d&uuml;rfen.</li>
	</ol>
</p>
<div class='col-sm-12'>
	<a href='/#/registration/{{activityId}}' class='btn btn-warning' role='button'>Zur&uuml;ck</a>
</div>
</div>

