<div class='container'>
	<div class='row'>
		<div class='col-sm-10'>
			<h2 class='text-orange'>{{'EVENTS.TITLE' | translate}}</h2>
		</div>
		<div class='col-sm-2' ng-show='iSvc.isAuthorized("admin")'>
			<a class='btn btn-success btn-block' href='/#/newEvent' role='button'>Neu</a>
		</div>
	</div>

	<div ng-show="platform.isJDUL()">
		<div class="row">
			<div class="col-sm-3">
				<h2><span ng-show="lang == 'de'" class="label label-info">Anmeldestart: 26.05.2020</span></h2>
				<h2><span ng-show="lang == 'de'" class="label label-warning"><a href="https://www.jugenddienstunterland.it/deutsch/5-angebote/5-6-h%C3%A4ufige-fragen/">Häufige Fragen</a></span></h2>
				<h2><span ng-show="lang == 'it'" class="label label-info">Partenza iscrizioni: 26.05.2020</span></h2>
				<h2><span ng-show="lang == 'it'" class="label label-warning"><a href="https://www.jugenddienstunterland.it/italiano/5-offerte/5-6-domande-frequenti/">Domande frequenti</a></span></h2>
			</div>
		</div>
	</div>
	
	<div ng-show="(platform.isJugendsommer() || platform.isJDBL()) && isRegistrationWarningVisible()">
		<div class="row">
			<!--<div class="col-sm-3">
				<h2><span ng-show="lang == 'de'" class="label label-info">Anmeldestart: 04 Februar 2020 um 19:00!</span></h2>
				<h2><span ng-show="lang == 'it'" class="label label-info">Partenza iscrizioni: 03 febbraio 2020 alle ore 19:00!</span></h2>
			</div>-->
		</div>
	</div>

	<div ng-show="platform.isKiso() && isRegistrationWarningVisible()">
		<div class="row">
			<div class="col-sm-3">
				<h2><span ng-show="lang == 'de'" class="label label-info">Anmeldestart: 03 März 2020 um 19:00!</span></h2>
				<h2><span ng-show="lang == 'it'" class="label label-info">Partenza iscrizioni: 03 marzo 2020 alle ore 19:00!</span></h2>
			</div>
		</div>
	</div>
	<br />

	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>

	<ul class='list-group'>
		<li ng-repeat='event in events' class='list-group-item' ng-class='{ "bg-gray": event.isInternal }'>
		<div class='row' >
				<div class='col-sm-1'>
					<div class='btn-main' ng-show="!platform.isJDUL()">
					<a href='/#/activities/{{event._id}}?type={{event.type}' role='button'>
						<span ng-show='event.type === "summer" && !platform.isJDUL()' class='glyphicon glyphicon-certificate'></span>
						<span ng-show='event.type === "summer" && platform.isJDUL()'><img src='../../assets/button_ente.png' class='pull-left' style='width:45px;margin-right:10px' /></span>
						<span ng-show='event.type === "music"' class='glyphicon glyphicon-music'></span>
						<span ng-show='event.type === "spiritnight"' class='glyphicon glyphicon-education'></span>
						<span ng-show='event.type === "club"' class='glyphicon glyphicon-home'></span>
						<span ng-show='event.type === "jumprun"' class='glyphicon glyphicon-refresh'></span>
						<span ng-show='event.type === "bike"' class='glyphicon glyphicon-cog'></span>
					</a>
					</div>
					<div class='btn-main' ng-show="platform.isJDUL()">
						<span ng-show='event.type === "summer" && !platform.isJDUL()' class='glyphicon glyphicon-certificate'></span>
						<span ng-show='event.type === "summer" && platform.isJDUL()'><img src='../../assets/button_ente.png' class='pull-left' style='width:45px;margin-right:10px' /></span>
						<span ng-show='event.type === "music"' class='glyphicon glyphicon-music'></span>
						<span ng-show='event.type === "spiritnight"' class='glyphicon glyphicon-education'></span>
						<span ng-show='event.type === "club"' class='glyphicon glyphicon-home'></span>
						<span ng-show='event.type === "jumprun"' class='glyphicon glyphicon-refresh'></span>
						<span ng-show='event.type === "bike"' class='glyphicon glyphicon-cog'></span>
					</div>
				</div>
				<div class='col-sm-9'>
					<strong ng-show="lang == 'de'"><div ng-show="!platform.isJugendsommer()">{{event.location}} - </div>{{event.name}}</strong>
					<strong ng-show="lang == 'it'"><div ng-show="!platform.isJugendsommer()">{{event.location_it}} - </div>{{event.name_it}}</strong>
					<div class='text-info'>{{event.startDate | date: 'dd/MM/yyyy'}} - {{event.endDate | date: 'dd/MM/yyyy'}}</div>
					<p ng-show="lang == 'de'">{{event.description}}</p>
					<p ng-show="lang == 'it'">{{event.description_it}}</p>
				</div>
				<div class='col-sm-2'>
					<a href='/#/registration/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button' ng-show='iSvc.isAuthenticated() && !cannotReserve(event)'><span class='glyphicon glyphicon-user'></span><br /><div style="font-size: 45%">{{"BTN.RESERVE" | translate}}</div></a>
					<button type="button" class="btn btn-xlarge btn-success" ng-hide='iSvc.isAuthenticated()' data-toggle="modal" data-target="#warningModal"><span class='glyphicon glyphicon-user'></span><br /><div style="font-size:45%">{{"BTN.RESERVE" | translate}}</div></button>
					<a href='/#/eventInfo/{{event._id}}' class="btn btn-xlarge btn-warning" role='button'><span class='glyphicon glyphicon-search'></span><br /><div style="font-size:45%">{{"BTN.INFO" | translate}}</div></a>
					<!--<a href='/#/activities/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button'><span class='glyphicon glyphicon-triangle-right'></span></a>-->
					<div class="btn-group" ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'>
						<button type="button" class="btn btn-xlarge btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-cog"></span><br /><div style="font-size: 45%">{{"BTN.ADMIN" | translate}}</div><span class="caret pull-right"></span>
						  </button>
					<ul class="dropdown-menu">
						<li><a href='/#/activities/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><div><span class='glyphicon glyphicon-triangle-right'></span><br /><div style="font-size: 45%">{{"BTN.WEEKS" | translate}}</div></div></a></li>
						<li><a href='/#/editEvent/{{event._id}}' class='btn btn-xlarge btn-info' role='button' ng-show='iSvc.isAuthorized("admin")'><div><span class='glyphicon glyphicon-pencil'></span><br /><div style="font-size: 45%">{{"BTN.EDIT" | translate}}</div></div></a></li>
						<li><a href='/#/newCommitment/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><div><span class='glyphicon glyphicon-usd'></span><br /><div style="font-size:45%">{{"BTN.EXPENSE" | translate}}</div></div></a></li>
						<li><a href='/#/newTravelExpenses/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='(iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)) && !isKiso'><div><span class='glyphicon glyphicon-road'></span><br /><div style="font-size:45%">{{"BTN.TEXPENSE" | translate}}</div></div></a></li>
						<li><a href='/#/eventRegistrations/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-list-alt'></span><br /><div style="font-size: 45%">{{"BTN.RESERVATIONS" | translate}}</div></a></li>
						<li><a href='/#/eventContacts/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-sunglasses'></span><br /><div style="font-size: 45%">{{"BTN.CONTACTS" | translate}}</div></a></li>
						<li><button type="button" class="btn btn-xlarge btn-info btn-block" ng-click='sendReceiptEmail(event._id)' ng-show='iSvc.isAuthorized("admin") && (platform.isJugendsommer() || platform.isTest())'><span class='glyphicon glyphicon-euro'></span><br /><div style="font-size: 45%">{{"BTN.PAYMENT" | translate}}</div></button></li>
						<li><button type="button" class="btn btn-xlarge btn-info btn-block" ng-click='sendReminderEmail(event._id)' ng-show='iSvc.isAuthorized("admin") && (platform.isJugendsommer() || platform.isTest())'><span class='glyphicon glyphicon-thumbs-down'></span><br /><div style="font-size: 45%">{{"BTN.REMINDER" | translate}}</div></button></li>
						<li><button type="button" class="btn btn-xlarge btn-info btn-block" ng-click='sendConfirmationEmail(event._id)' ng-show='iSvc.isAuthorized("admin") && (platform.isJugendsommer() || platform.isTest())'><span class='glyphicon glyphicon-scale'></span><br /><div style="font-size: 45%">{{"BTN.CONFIRMATION" | translate}}</div></button></li>
					</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title" id="myModalLabel">{{"ACTIVITIES.WARNINGTITLE" | translate}}</h4>
				</div>
				<div class="modal-body">{{"ACTIVITIES.WARNING" | translate}}</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
