<div class='container'>
	<div class='row'>
		<div class='col-sm-10'>
			<h2 class='text-orange'>Sommer-Programme</h2>
		</div>
		<div class='col-sm-2' ng-show='iSvc.isAuthorized("admin")'>
			<a class='btn btn-success btn-block' href='/#/newEvent' role='button'>Neu</a>
		</div>
	</div>

	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>

	<ul class='list-group'>
		<li ng-repeat='event in events' class='list-group-item'>
		<div class='row'>
				<div class='col-sm-1'>
					<a href='/#/activities/{{event._id}}' role='button'>
						<img ng-show='event.type === "summer"' src='assets/calendar-orange-medium.png'>
						<img ng-show='event.type === "music"' src='assets/music-orange-medium.png'>
					</a>
				</div>
				<div class='col-sm-9'>
					<strong>{{event.name}}</strong>
					<div class='text-info'>{{event.startDate | date: 'dd/MM/yyyy'}} - {{event.endDate | date: 'dd/MM/yyyy'}}</div>
					<p>{{event.description}}</p>
				</div>
				<div class='col-sm-2'>
					<a href='/#/activities/{{event._id}}' class='btn btn-default' role='button'><img src='assets/arrow-green-small.png' alt='Details'></a>
					<a href='/#/eventInfo/{{event._id}}' class="btn btn-default" role'button'><img src='assets/info-orange-small.png' alt='Information' ng-show='true'></a>
					<a href='/#/editEvent/{{event._id}}' class='btn btn-default' role='button' ng-show='iSvc.isAuthorized("admin")'><img src='assets/edit.png' alt='Editieren'></a>
				</div>
			</div>
		</li>
	</ul>
</div>
