<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>
			<h2><span ng-show="lang == 'de'" class="text-orange">Info: {{event.name}}</span></h2>
			<h2><span ng-show="lang == 'it'" class="text-orange">Info: {{event.name_it}}</span></h2>
		</div>

		<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>
		<p ng-show="lang == 'de'" class='col-sm-12' ng-bind-html="info"></p>
		<p ng-show="lang == 'it'" class='col-sm-12' ng-bind-html="info_it"></p>
		<div class='col-sm-8'>
			<a href='/#/' class='btn btn-warning' role='button'>{{"INFO.BACK" | translate}}</a>
		</div>
	</div>
</div>
