<div class='container'>
	<div class='row'>
		<div class='col-sm-10'>
			<h2 class='text-orange'>{{'EVENTS.TITLE' | translate}}</h2>
		</div>
		<div class='col-sm-2' ng-show='iSvc.isAuthorized("admin")'>
			<a class='btn btn-success btn-block' href='/#/newEvent' role='button'>Neu</a>
		</div>
	</div>

	<div class='row bg-danger' style='padding: 10px' ng-show='!platform.isJDUL() && isRegistrationWarningVisible()'>
		<h4>Anmeldung ist ab Montag 19.02 00:00 für alle Programme möglich</h4>
	</div>
	<div ng-show="platform.isJDUL() && isRegistrationWarningVisible()">
		<div class="row">
			<div class="col-sm-3">
				<h2><span ng-show="lang == 'de'" class="label label-info">Anmeldestart: Montag 19. Februar!</span></h2>
				<h2><span ng-show="lang == 'it'" class="label label-info">Partenza iscrizioni: 19 febbraio!</span></h2>
				</div>
			</div>
		</div>
	</div>
	<br />

	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>

	<ul class='list-group'>
		<li ng-repeat='event in events' class='list-group-item'>
		<div class='row'>
				<div class='col-sm-1'>
					<div class='btn-main'>
					<a href='/#/activities/{{event._id}}?type={{event.type}}' role='button'>
						<span ng-show='event.type === "summer" && !platform.isJDUL()' class='glyphicon glyphicon-certificate'></span>
						<span ng-show='event.type === "summer" && platform.isJDUL()'><img src='../../assets/button_ente.png' class='pull-left' style='width:45px;margin-right:10px' /></span>
						<span ng-show='event.type === "music"' class='glyphicon glyphicon-music'></span>
						<span ng-show='event.type === "spiritnight"' class='glyphicon glyphicon-education'></span>
						<span ng-show='event.type === "club"' class='glyphicon glyphicon-home'></span>
						<span ng-show='event.type === "jumprun"' class='glyphicon glyphicon-refresh'></span>
					</a>
				</div>
				</div>
				<div class='col-sm-9'>
					<strong ng-show="lang == 'de'">{{event.location}} - {{event.name}}</strong>
					<strong ng-show="lang == 'it'">{{event.location_it}} - {{event.name_it}}</strong>
					<div class='text-info'>{{event.startDate | date: 'dd/MM/yyyy'}} - {{event.endDate | date: 'dd/MM/yyyy'}}</div>
					<p ng-show="lang == 'de'">{{event.description}}</p>
					<p ng-show="lang == 'it'">{{event.description_it}}</p>
				</div>
				<div class='col-sm-2'>
					<a href='/#/registration/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button' ng-show='iSvc.isAuthenticated() && !cannotReserve(event)'><span class='glyphicon glyphicon-user'></span></a>
					<button type="button" class="btn btn-xlarge btn-success" ng-hide='iSvc.isAuthenticated()' data-toggle="modal" data-target="#warningModal"><span class='glyphicon glyphicon-user'></button>
					<!--<a href='/#/activities/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button'><span class='glyphicon glyphicon-triangle-right'></span></a>-->
					<a href='/#/eventInfo/{{event._id}}' class="btn btn-xlarge btn-warning" role'button'><span class='glyphicon glyphicon-search'></span></a>
					<a href='/#/activities/{{event._id}}?type={{event.type}}' class='btn btn-xlarge btn-success' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-triangle-right'></span></a>
					<a href='/#/editEvent/{{event._id}}' class='btn btn-xlarge btn-info' role='button' ng-show='iSvc.isAuthorized("admin")'><span class='glyphicon glyphicon-pencil'></span></a>
					<a href='/#/newCommitment/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-usd'></span></a>
					<a href='/#/newTravelExpenses/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='(iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)) && !isKiso'><span class='glyphicon glyphicon-road'></span></a>
					<a href='http://www2.jugendsommer.com/' target='_blank' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-paperclip'></span></a>
					<a href='/#/eventRegistrations/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-list-alt'></span></a>
					<a href='/#/eventContacts/{{event._id}}' class='btn btn-xlarge btn-primary' role='button' ng-show='iSvc.isAuthorized("admin") || iSvc.isAuthorizedForEvent("fadmin", event._id) || iSvc.isAuthorizedForLocation("ladmin", event.location)'><span class='glyphicon glyphicon-sunglasses'></span></a>
				</div>
			</div>
		</li>
	</ul>
	<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title" id="myModalLabel">{{"ACTIVITIES.WARNINGTITLE" | translate}}</h4>
				</div>
				<div class="modal-body">{{"ACTIVITIES.WARNING" | translate}}</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
