<!-- FORM EVENT EDIT-->
<div class='container'>
<h2 class='text-orange'>{{title}}</h2>
<form name='eventForm' class='form-horizontal' novalidate ng-submit='save()'>

	<!-- NAME -->
	<div class='form-group' ng-class='{ "has-error": eventForm.name.$invalid }'>
    	<label for='name' class='control-label col-sm-2'>Name</label>
		<div class='col-sm-10'>
			<input name='name' type='text' ng-model='name' required class='form-control'></input>
		</div>
	</div>
	<!-- DESCRIPTION -->
	<div class='form-group' ng-class='{ "has-error": eventForm.description.$invalid }'>
		<label for='description' class='control-label col-sm-2'>Beschreibung</label>
		<div class='col-sm-10'>
			<textarea name='description' type='text' ng-model='description' class='form-control' rows='3' placehoder='Beschreibung eintragen' required ></textarea>
		</div>
	</div>
	<!-- TYPE -->
	<div class='form-group' ng-class='{ "has-error": eventForm.type.$invalid }'>
		<label for='type' class='control-label col-sm-2'>Typ</label>
		<div class='col-sm-10'>
			<select name='type' class='sel-base form-control' ng-model='type'>
				<option value='summer'>Sommerwoche</option>
				<option value='music'>Jungbläserwoche</option>
			</select>
		</div>
	</div>
	<!-- LOCATION -->
	<div class='form-group' ng-class='{ "has-error": eventForm.type.$invalid }'>
		<label for='location' class='control-label col-sm-2'>Ort</label>
		<div class='col-sm-10'>
			<select name='location' class='sel-base form-control' ng-model='location'>
				<option value='Deutschnofen'>Deutschnofen</option>
				<option value='Jenesien'>Jenesien</option>
				<option value='Karneid'>Karneid</option>
				<option value='Mölten'>Mölten</option>
				<option value='Ritten'>Ritten</option>
				<option value='Tiers'>Tiers</option>
				<option value='Welschnofen'>Welschnofen</option>
				<option value='Hüttenlagerwoche'>Hüttenlagerwoche</option>
				<option value='Tschögglberger Jungbläserwoche'>Tschögglberger Jungbläserwoche</option>
			</select>
		</div>
	</div>
	<!-- STARTDATE -->
	<div class='form-group' ng-class='{ "has-error": eventForm.startDate.$invalid }'>
		<label for='startDate' class='control-label col-sm-2'>Beginnt am</label>
		<div class='col-sm-10'>
		<p class='input-group'>
			<ng-datepicker ng-model='startDate' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
		</p>
		</div>
	</div>
	<!-- ENDDATE -->
	<div class='form-group' ng-class='{ "has-error": eventForm.endDate.$invalid }'>
		<label for='endDate' class='control-label col-sm-2'>Endet am</label>
		<div class='col-sm-10'>
		<p class='input-group'>
			<ng-datepicker ng-model='endDate' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
		</p>
		</div>
	</div>
	<!-- VISIBLEFROM -->
	<div class='form-group' ng-class='{ "has-error": eventForm.visibleFrom.$invalid }'>
		<label for='visibleFrom' class='control-label col-sm-2'>Anmeldung von</label>
		<div class='col-sm-10'>
		<p class='input-group'>
			<ng-datepicker ng-model='visibleFrom' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
		</p>
		</div>
	</div>
	<!-- VISIBILETO -->
	<div class='form-group' ng-class='{ "has-error": eventForm.visibleTo.$invalid }'>
		<label for='visibleTo' class='control-label col-sm-2'>Anmeldung bis</label>
		<div class='col-sm-10'>
		<p class='input-group'>
			<ng-datepicker ng-model='visibleTo' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
		</p>
		</div>
	</div>
	<!-- BUDGETBUSINESS -->
	<div class='form-group' ng-class='{ "has-error": eventForm.budget.$invalid }'>
		<label for='budgetBusiness' class='control-label col-sm-2'>Sachbudget</label>
		<div class='col-sm-10'>
			<p class='input-group'>
				<input type='number' ng-model='budgetBusiness' min='0' step='0.01' required></input>
			</p>
		</div>
	</div>
	<!-- BUDGETFOOD -->
	<div class='form-group' ng-class='{ "has-error": eventForm.budget.$invalid }'>
		<label for='budgetFood' class='control-label col-sm-2'>Essensbudget</label>
		<div class='col-sm-10'>
			<p class='input-group'>
				<input type='number' ng-model='budgetFood' min='0' step='0.01' required></input>
			</p>
		</div>
	</div>
	<!-- INFO -->
	<div class='form-group' ng-class='{ "has-error": eventForm.info.$invalid }'>
		<label for='info' class='control-label col-sm-2'>Info</label>
		<div class='col-sm-10'>
			<textarea name='info' type='text' ng-model='info' required class='form-control' rows='3'></textarea>
		</div>
	</div>

	<div class='col-sm-offset-2 col-sm-10'>
		<input class='btn btn-success bnt-lg btn-block' type='submit' value='Speichern' ng-disabled='eventForm.$invalid'>
	</div>

</form>
</div>
