
<div class='container col-sm-9'>
	<div class='panel panel-default'>
	<div class='panel-heading'>Filter</div>
	<div class='panel-body'>
		<div class='row'>
			<label for='eventFilter' class='control-label col-sm-2'>Progr.:</label>
			<div class='col-sm-5 input-group'>
				<select id='eventFilter' class='form-control' ng-model='eventId' ng-change='updateEventFilter()'>
					<option ng-repeat='event in events' value='{{event._id}}'>{{event.name}}</option>
				</select>
				<span class="input-group-btn">
					<button class='btn btn-info' ng-click='clearEventSelection()'>
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
			</div>
		</div>
		<div class='row' style='margin-top:10px'>
				<label for='childFilter' class='control-label col-sm-2'>Kind:</label>
				<div class='col-sm-5 input-group'>
					<select id='childFilter' class='form-control' ng-model='selectedChild'>
						<option ng-repeat='child in children' value='{{child}}'>{{child.firstName + ' ' + child.lastName + ' (' + ("0" + child.birthday.getDate()).slice(-2) + '.' + ("0" + (child.birthday.getMonth() + 1)).slice(-2) + '.' + child.birthday.getFullYear() + ')' }}</option>
					</select>
					<span class='input-group-btn'>
						<button class='btn btn-info' ng-click='clearChildSelection()'>
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="row" style='margin-top:10px'>
				<label for='emailOpt' class='control-label col-sm-2'>Email</label>
				<div class='col-sm-6 input-group'>
					<input id='emailOpt' type='text' ng-model='emailOpt' />
				</div>
			</div>
		<div class="row" style='margin-top:10px'>
    	<div class='col-sm-offset-2 col-sm-4'>
      	<button type='button' class='btn btn-primary btn-block' ng-click='send()' ng-disabled='!canSend(selectedChild)'>Senden</button>
  		</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	
    <div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>
    
</div>