<div class='container'>
	<h2 class='text-orange'></h2>
	<h3><span class='label label-default'>{{"MYRESERVATION.TITLE" | translate}}</span></h3>
	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'>
		<div ng-show='platform.isJugendsommer() || platform.isJDBL()'>{{"MYRESERVATION.NOTE" | translate}}</div>
		<div ng-show='platform.isKiso()'>{{"MYRESERVATION.NOTE_KISO" | translate}}</div>
	</div>
	<table class='table table-striped table-bordered'>
		<tr>
			<th>{{"MYRESERVATION.LABEL_EVENT" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_ACTIVITY" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_ACCEPT" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_PAYED" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_FIRSTNAME_CHILD" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_LASTNAME_CHILD" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_BIRTHDAY_CHILD" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_FIRSTNAME_PARENT" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_LASTNAME_PARENT" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_MAIL_PARENT" | translate}}</th>
			<th>{{"MYRESERVATION.LABEL_TEL_PARENT" | translate}}</th>
			<th></th>
		</tr>
		<tr ng-repeat='reg in registrations | filter:filterReport(reg) | orderBy:colNameSort'>
			<td>{{reg.activityId.eventId.location}} - {{reg.activityId.eventId.name}}</td>
			<td>{{reg.activityId.name}}</td>
			<td class='bg-success'>{{formatBool(true)}}</td>
			<td ng-class='{"bg-success": reg.isPaymentDone, "bg-danger": !reg.isPaymentDone}'>{{formatBool(reg.isPaymentDone)}}</td>
			<td>{{reg.firstNameChild}}</td>
			<td>{{reg.lastNameChild}}</td>
			<td>{{reg.birthdayChild | date: 'dd/MM/yyyy'}}</td>
			<td>{{reg.firstNameParent}}</td>
			<td>{{reg.lastNameParent}}</td>
			<td><a href='mailto:{{reg.emailParent}}'>{{reg.emailParent}}</a></td>
			<td>{{reg.phoneNumberParent}}</td>
			<td><a href='/#/editOwnRegistration/{{reg._id}}' class="btn glyphicon glyphicon-pencil" type="button"></a></td>
		</tr>
	</table>
</div>
