<div class='container'>
<div class='row'>
    <div class='col-sm-10'>
        <h2 class='text-orange'>{{'SELECTION.TITLE' | translate}}</h2>
    </div>
    <div class='col-sm-2' ng-show='iSvc.isAuthorized("admin")'>
        <a class='btn btn-success btn-block' href='/#/newEvent' role='button'>Neu</a>
    </div>
</div>
<div ng-show="platform.isKiso()">
    <!--<h4><span ng-show="lang == 'de'" class="label label-default">Anmeldestart: Dienstag, 14. März, 19.00 Uhr! Legen Sie sich inzwischen einen User an.</span></h4>
    <h4><span ng-show="lang == 'it'" class="label label-default">Partenza iscrizioni: martedí 14 marzo, ore 19.00! Nel frattempo puó crearsi un utente.</span></h4>-->
    <h4><span class="label label-info"><a href="#/agb/1">{{ 'SELECTION.INFO' | translate }}</a></span></h4>
</div>
<div ng-show="platform.isJDUL()">
    <div class="row">
        <div class="col-sm-3">
        <h2><span ng-show="lang == 'de'" class="label label-info">Anmeldestart: Montag 19. Februar!</span></h2>
        <h2><span ng-show="lang == 'it'" class="label label-info">Partenza iscrizioni: 19 febbraio!</span></h2>
        </div>
    </div>
</div>

<div ng-repeat='loc in locations'>
    <div class='card-orange'>
        <a class='invisible-link' href='#/events/{{encodeFullURI(loc._id)}}'>
        <div class='panel-header'>
                <h3 ng-show="lang == 'de'"><strong>{{loc.name}}</strong></h3>
                <h3 ng-show="lang == 'it'"><strong>{{loc.name_it}}</strong></h3>
                <h5>{{'SELECTION.PROGRAM' | translate}}: <span class='badge bg-darkorange'>{{loc.countEvents}}</span></h5>
                <hr />
        </div>
        <div class='panel-body'>
            <div ng-repeat='t in loc.distinctTypes'>
                <span ng-show='t === "summer" && !platform.isJDUL()' class='glyphicon glyphicon-certificate pull-left' style='font-size:25px;margin-right:10px'></span>
                <span ng-show='t === "summer" && platform.isJDUL()'><img src='../../assets/button_ente.png' class='pull-left' style='width:45px;margin-right:10px' /></span>
                <span ng-show='t === "music"' class='glyphicon glyphicon-music pull-left' style='font-size:25px;margin-right:10px'></span>
                <span ng-show='t === "spiritnight"' class='glyphicon glyphicon-education pull-left' style='font-size:25px;margin-right:10px'></span>
                <span ng-show='t === "club"' class='glyphicon glyphicon-home pull-left' style='font-size:25px;margin-right:10px'></span>
                <span ng-show='t === "jumprun"' class='glyphicon glyphicon-refresh pull-left' style='font-size:25px;margin-right:10px'></span>
            </div>
        </div>
        </a>
    </div>
</div>

</div>
