<div class='container'>
<h2 class='text-orange'>User Rollen verwalten</h2>
<div class="panel panel-warning">
  <div class="panel-heading">
		<span class="glyphicon glyphicon-user" style="margin-right:3px;"></span>
    <h3 class="panel-title">{{user.firstName}} {{user.lastName}}</h3>
  </div>
  <div class="panel-body">
	  <div class="panel">
		  <div class="panel-heading">

		  </div>
		  <div class="panel-body">
			  <div class="list-group">
				  <div ng-repeat="grp in user.roles" class="list-group-item list-group-item-warning">
					<span class="glyphicon glyphicon-trash" style="margin-right:3px;"></span>
      				<span class="list-group-item-heading"><strong>{{grp.name}}</strong></span>
      				<p class="list-group-item-text">{{grp}}</p>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
  <div class="panel-body">
		<div class="panel">
			<div class="panel-heading">
				<input id="fadmin" name="role" type="radio" ng-model="curRole" value="fadmin" />
				<label for="fadmin" style="margin-left: 5px">Programm-Admin</label>
			</div>
			<div class="panel-body">
				<label for='events' class='col-sm-1'>Programm</label>
				<div class='col-sm-4'>
					<select name='events' class='sel-base form-control' ng-model='event'>
						<option ng-repeat="ev in events" value='{{ev._id}}'>{{ev.location}} - {{ev.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<input id="ladmin" name="role" type="radio" ng-model="curRole" value="ladmin" />
				<label for="ladmin" style="margin-left: 5px">Ort-Admin</label>
			</div>
			<div class="panel-body">
				<label for='location' class='col-sm-1'>Ort</label>
				<div class='col-sm-4'>
					<select name='location' class='sel-base form-control' ng-model='location'>
						<option ng-repeat="loc in locations" value='{{loc.name}}'>{{loc.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<input id="admin" name="role" type="radio" ng-model="curRole" value="admin" />
				<label for="admin" style="margin-left: 5px">Super-Admin</label>
			</div>
		</div>
  </div>
	<div class="panel-footer">
		<button type="button" class="btn btn-success" ng-click="save()">Speichern</button>
		<a href="/#/userRolesSearch" type="button" class="btn btn-warning">Cancel</a>
	</div>
</div>
</div>
