<div class='container'>
<h2 class='text-orange'>{{'LOST_PWD.TITLE1' | translate}}</h2>
<h4>{{'LOST_PWD.NOTE1' | translate}}</h4>
<form name='eventForm' class='form-horizontal' novalidate ng-submit='sendTokenToUser(userName)'>
  <div class='form-group' ng-class='{ "has-error": eventForm.userName.$invalid }'>
	 <label for='userName' class='control-label col-sm-2'>{{'LOST_PWD.LABEL_USERNAME1' | translate}}</label>
	 <div class='col-sm-10'>
		  <input name='userName' type='text' ng-model='userName' class='form-control' required></input>
	 </div>
  </div>
	<div class='col-sm-offset-2 col-sm-10'>
		<input id='newUser_submit' class='btn btn-warning bnt-lg btn-block' type='submit' translate-attr="{value: 'LOST_PWD.BUTTON_SUBMIT1'}" ng-disabled='eventForm.$invalid'>
	</div>
</form>
</div>
