<div class='container'>
    <h2 class='orange'>Importanti FAQ sulle modalità di iscrizione</h2>
    
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseExample">
        Quando posso iscrivere mio figlio?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse10">
    <div class="well">
        Le iscrizioni iniziano martedì 2 marzo alle 19.00 in orario. Solo in questo momento l’apposito modulo google apparirà nel campo di menu "Iscrizioni". PER POTERSI ISCRIVERE, È NECESSARIO AVERE UN ACCOUNT UTENTE ED ESSERE CONNESSI!
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapseExample">
        Come faccio a sapere se l’iscrizione ha funzionato?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse20">
    <div class="well">
        Dopo aver compilato tutte e cinque le sezioni del modulo di Google e aver cliccato sul pulsante "Invia" (“Senden”), apparirà una finestra di dialogo "Grazie per l’iscrizione di Suo figlio", il che conferma il successo tecnico dell'iscrizione. (Se appare una pagina bianca, provi a scorrere verso l'alto). 
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapseExample">
        Come posso iscrivere mio figlio per diverse settimane?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse30">
    <div class="well">
        Il vostro bambino deve essere iscritto individualmente per ogni settimana. Pertanto, in modo da iscrivere il vostro bambino per più di una delle 7 settimane, si dovrà ripetere la procedura di iscrizione tutte le volte che è necessario. 
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse40" aria-expanded="false" aria-controls="collapseExample">
        Come funziona lo sconto per i fratelli?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse40">
    <div class="well">
    Lo sconto di 10,00 Euro a settimana è valido solo per il secondo figlio (ovvero per tutti gli altri figli) se sono iscritti nella stessa settimana del fratello o della sorella. OGNI FIGLIO DEVE ESSERE REGISTRATO INDIVIDUALMENTE CON UN MODULO SEPARATO!
    <br />(Esempio di calcolo: Luca e Maria sono entrambi registrati per la 3a e 4a settimana del KISO. L&#39;importo totale della quota di iscrizione da versare è di 80+70+80+70=300,00 Euro)
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse50" aria-expanded="false" aria-controls="collapseExample">
        Come si paga il supplemento di solidarietà?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse50">
    <div class="well">
    Se avete scelto l&#39;opzione &quot;supplemento di solidarietà&quot; e avete così deciso di sostenere il programma del &quot;KISO - Kindersommer&quot;, vi chiediamo gentilmente di VERSARE IL SUPPLEMENTO SETTIMANALE DI 10 EURO INSIEME ALLA QUOTA DI PARTECIPAZIONE!
    <br />(Esempio di calcolo: Samir è registrato per la 1ª, 5ª e 6ª settimana KISO, per le ultime due settimane viene scelto un contributo di solidarietà. L&#39;importo totale della partecipazione da versare è di 80+90+90=260,00 Euro).
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse60" aria-expanded="false" aria-controls="collapseExample">
        Come faccio a scoprire la posizione di mio figlio nella lista d&#39;attesa?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse60">
    <div class="well">
        Entro 5 giorni lavorativi, riceverete un avviso di pagamento oppure un avviso che vostro figlio è stato messo in lista d'attesa all'indirizzo e-mail da voi indicato al momento dell'iscrizione. Per motivi tecnici e organizzativi non siamo purtroppo in grado di tenervi informati sulla posizione di vostro figlio in lista d'attesa. MA VI CONTATTEREMO NON APPENA SARÀ DISPONIBILE UN POSTO PER IL VOSTRO BAMBINO!
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse70" aria-expanded="false" aria-controls="collapseExample">
        Quando è definitiva e legalmente valida la partecipazione di mio figlio?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse70">
    <div class="well">
        La partecipazione del vostro bambino nella rispettiva settimana è garantita solo dopo il versamento completo della quota di iscrizione. Questo a sua volta è preceduto da un avviso di pagamento (vedi sopra). SE IL VOSTRO BAMBINO È IN LISTA D'ATTESA, NON VERSATE LA QUOTA DI ISCRIZIONE FINO A QUANDO NON RICEVERETE L’AVVISO DI PAGAMENTO, NON APPENA SI RENDERÀ DISPONIBILE UN POSTO!
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse80" aria-expanded="false" aria-controls="collapseExample">
        Come ricevo la conferma del pagamento?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse80">
    <div class="well">
        Nel vostro conto utente potete verificare lo stato delle vostre iscrizioni sotto il campo del menu “Le mie prenotazioni”. Non appena appare una croce nella colonna "pagato", il vostro pagamento è stato contabilizzato e l'iscrizione è legalmente valida. VI PREGHIAMO DI CONTATTARCI SOLO SE DOPO CINQUE GIORNI LAVORATIVI DALLA DATA DEL PAGAMENTO NON COMPARE NESSUNA CROCE!
    </div>
</div>