<div class='container'>
    <h2 class='orange'>Importanti FAQ sulle modalità di iscrizione</h2>
    
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseExample">
        Quando posso iscrivere mio figlio?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse10">
    <div class="well" style="min-height:400px;">
        Le iscrizioni iniziano martedì 3 marzo alle 19.00 in orario. Solo in questo momento appare il bottone <button type="button" class="btn btn-xlarge btn-success"><span class='glyphicon glyphicon-user'></span><br /><div style="font-size:25%">{{"BTN.RESERVE" | translate}}</div></button>. Cliccando su questo bottone apparirà il modulo di iscrizione (vedi sotto). PER POTERSI ISCRIVERE, È NECESSARIO AVERE UN ACCOUNT UTENTE ED ESSERE CONNESSI!<br />Attenzione: per questo il sito deve essere riaperto alle 19:00
        <img src="./../../../../assets/screen/kiso_screen_reg1-it.jpg" alt="Registrierung1it" style="height:300px;float:left;margin-right:15px" />
        <img src="./../../../../assets/screen/kiso_screen_reg2-it.jpg" alt="Registrierung2it" style="height:300px;float:left;margin-right:15px" />
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapseExample">
        Come faccio a sapere se l’iscrizione ha funzionato?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse20">
    <div class="well">
    Se non si riceve entro pochi minuti una risposta automatica, all’indirizzo email indicato dal genitore, è necessario ripetere la modalità d&#39;iscrizione in quanto è stato riscontrato un possibile errore.
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapseExample">
        Come posso iscrivere mio figlio per diverse settimane?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse30">
    <div class="well">
    Il vostro bambino deve essere iscritto individualmente per ogni settimana. Pertanto, in modo da iscrivere il vostro bambino per più di una delle 7 settimane, si dovrà ripetere la procedura di iscrizione tutte le volte che è necessario.<br />Suggerimento: con il bottone <button class='btn btn-success'>{{"RESERVATION.LABEL_LOAD_PREVIOUS" | translate}}</button> potete inserire automaticamente i dati di iscrizione precedenti.
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse40" aria-expanded="false" aria-controls="collapseExample">
        Come funziona lo sconto per i fratelli?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse40">
    <div class="well">
    Lo sconto di 10,00 Euro a settimana è valido solo per il secondo figlio (ovvero per tutti gli altri figli) se sono iscritti nella stessa settimana del fratello o della sorella. SI PREGA DI UTILIZZARE IL BOTTONE <button class='btn btn-warning'><img src="../../assets/sibling.png" style="height:20px;margin:2px" class="img-rounded"><strong>{{"RESERVATION.LABEL_LOAD_SIBLING" | translate}}</strong></button> !
    <br />(Esempio di calcolo: Luca e Maria sono entrambi registrati per la 3a e 4a settimana del KISO. L&#39;importo totale della quota di iscrizione da versare è di 80+70+80+70=300,00 Euro)
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse50" aria-expanded="false" aria-controls="collapseExample">
        Come si paga il supplemento di solidarietà?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse50">
    <div class="well">
    Se avete scelto l&#39;opzione &quot;supplemento di solidarietà&quot; e avete così deciso di sostenere il programma del &quot;KISO - Kindersommer&quot;, vi chiediamo gentilmente di VERSARE IL SUPPLEMENTO SETTIMANALE DI 10 EURO INSIEME ALLA QUOTA DI PARTECIPAZIONE!
    <br />(Esempio di calcolo: Samir è registrato per la 1ª, 5ª e 6ª settimana KISO, per le ultime due settimane viene scelto un contributo di solidarietà. L&#39;importo totale della partecipazione da versare è di 80+90+90=260,00 Euro).
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse60" aria-expanded="false" aria-controls="collapseExample">
        Come faccio a scoprire la posizione di mio figlio nella lista d&#39;attesa?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse60">
    <div class="well">
    Entro 5 giorni lavorativi, riceverete un avviso di pagamento oppure un avviso che vostro figlio è stato messo in lista d&#39;attesa all&#39;indirizzo e-mail da voi indicato al momento dell&#39;iscrizione. Per motivi tecnici e organizzativi non siamo purtroppo in grado di tenervi informati sulla posizione di vostro figlio in lista d&#39;attesa. MA VI CONTATTEREMO NON APPENA SARÀ DISPONIBILE UN POSTO PER IL VOSTRO BAMBINO!
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse70" aria-expanded="false" aria-controls="collapseExample">
        Quando è definitiva e legalmente valida la partecipazione di mio figlio?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse70">
    <div class="well">
    La partecipazione del vostro bambino nella rispettiva settimana è garantita solo dopo il versamento completo della quota di iscrizione. Questo a sua volta è preceduto da un avviso di pagamento (vedi sopra). SE IL VOSTRO BAMBINO È IN LISTA D&#39;ATTESA, NON VERSATE LA QUOTA DI ISCRIZIONE FINO A QUANDO NON RICEVERETE L’AVVISO DI PAGAMENTO, NON APPENA SI RENDERÀ DISPONIBILE UN POSTO!
    </div>
    </div>
    <br />
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse80" aria-expanded="false" aria-controls="collapseExample">
        Come ricevo la conferma del pagamento?  <span class="caret"></span>
    </button>
    <div class="collapse" id="collapse80">
    <div class="well">
    Nel vostro conto utente potete verificare lo stato delle vostre iscrizioni sotto il campo del menu <button class="btn">{{'NAV.MYRES' | translate}}</button> Non appena appare una croce nella colonna &quot;pagato&quot;, il vostro pagamento è stato contabilizzato e l&#39;iscrizione è legalmente valida. VI PREGHIAMO DI CONTATTARCI SOLO SE DOPO CINQUE GIORNI LAVORATIVI DALLA DATA DEL PAGAMENTO NON COMPARE NESSUNA CROCE!
    </div>
</div>