<div class="container">
<img src="./../../../assets/jdul_ente.jpg" style="height:320px;float:left;margin-right:15px" />
<h2>Sommerferienprogramme für Kindergartenkinder und Grundsch&uuml;lerInnen</h2>
<h4 class="brand-orange">DAS PROGRAMM:</h4>
<p>
Die Kinder im Kindergarten- und Grundschulalter werden von pädagogisch ausgebildeten
und erfahrenen Teams in der gemeinsamen Zeit begleitet und betreut. Einzelne Tage stehen unter verschiedenen Mottos und werden mit diversen Aktivitäten wie Basteln, Singen,
Spielen, Ausflüge und vielem mehr gemeinsam mit den Kindern gestaltet. Im Mittelpunkt steht
das Wohlbefinden der Kinder, "Kindsein" dürfen und eine unvergessliche Zeit mit Freunden
erleben. Neben den Aktivitäten rund um den Ausgangsort, sind auch Schwimmbadbesuche
und diverse Ausflüge mit Wanderungen, Museumsbesuchen und Naturerfahrungen außerhalb
der Gemeinden geplant.
</p>
<h2>Sommerferienprogramme für MittelschülerInnen </h2>
<h4 class="brand-orange">DAS PROGRAMM:</h4>
<p>
Ziel dieser Wochen ist es, Neues auszuprobieren, den eigenen Horizont zu erweitern und die
Jugendlichen in der Stärkung ihrer Sozialkompetenzen zu fördern. Wir versuchen auf die
Wünsche und Interessen der Jugendlichen einzugehen und gemeinsam spannende Wochen
zu verbringen. Neben den Aktivitäten vor Ort, werden Schwimmbadbesuche und Ausflüge auf
dem Programm stehen.
</p>
</div>







