<div class='container'>
	<h3>Informazioni</h3>
	<ul>
		<li>partecipanti devono essere residenti nell’area di competenza del Servizio Giovani Bozen-Land.</li>
		<li>I partecipanti possono iscriversi ai programmi estivi del Comune di residenza. Fanno eccezione i programmi che sono aperti a tutti.</li>
		<li>Le spese di vitto, materiale, ecc. sono incluse nel prezzo (i prezzi sono inseriti nei rispettivi programmi). I prezzi variano a seconda del comune/programma, poiché i Comuni finanziano le attività estive in modo differente.</li>
		<li>I programmi estivi sono finanziati dal rispettivo comune, dall'Agenzia per la Famiglia della Provincia Autonomia di Bolzano, dagli sponsor e dal Servizio Giovani Bozen-Land.</li>
		<li><strong>Assicurazione:</strong> Tutti i partecipanti sono assicurati per la responsabilità civile tramite l'assicurazione AGJD (Associazione dei Servizi Giovanili).</li>
		<li>Con una donazione di 10€ si può ricevere una chiavetta usb (4GB) del Servizio Giovani con tutte le foto del programma al quale si è preso parte! Le chiavette possono essere conservate. Possono inoltre essere utilizzate anche le chiavette dell'anno scorso, le quali devono essere vuote e consegnate ai propri assistenti all'inizio del programma.</li>
		<li><strong>Bambini con bisogni speciali:</strong> il Servizio Giovani Bozen-Land si impegna a integrare nei suoi programmi i bambini con disabilità fisiche/cognitive. I bambini che a causa delle loro condizioni hanno bisogno di cure particolari saranno affiancati, per quanto possibile, da un ulteriore accompagnatore. Al momento della registrazione si prega di includere una breve descrizione della problematica nell’apposito riquadro. Tutti gli ulteriori dettagli saranno chiariti nel corso di un colloquio personale in primavera.</li>
	</ul>
	<h3>Domande?</h3>
	<a href="sommer@jugenddienst.it">sommer@jugenddienst.it</a><br />
	<strong>Jasmin</strong> (Tel. <a href='tel:+3473340181'>+3473340181</a>)
</div>