<div class='container'>
	<h2><span  ng-show="lang == 'de'" class="label label-default">Anmeldestart: 02. März 2021, 19.00 Uhr!</span></h2>
	<br>
	<img src="./../../../../assets/kiso2021.jpg" style="height:500px;float:left;margin-right:15px" />
</div>
<!--<div class='container'>
	<h2><strong>Neue Infos zum KiSo – Kindersommer 2020 Covid-19</strong></h2>
	<img src="./../../../../assets/kiso2020.png" style="height:500px;float:left;margin-right:15px" />
	<ul>
		<li>
		<div>Halbtägige Betreuung von 8.00 bis 13.00 Uhr (bei Bedarf ab 7.45) oder von 14.00 bis 18.30 Uhr<br />
			 Eintrittszeiten: 7.45-8.30 / 14.00-14.30 h Abholzeiten: 12.30-13.00 / 18.00-18.30 Uhr</div>	
		</li>
		<li>Gruppen zu je 7 Kindern mit zwei Betreuer*innen im Zentrum Maria Heim und bei Bedarf in einer nahe gelegenen Struktur</li>
		<li>Verpflegung: ergiebige Jause sowohl am Vor- als auch am Nachmittag (im Teilnahmebeitrag inbegriffen)</li>
		<li>Der Teilnahmebeitrag pro Woche wird auf 50 € reduziert, für Geschwisterkinder derselben Woche 45 €. Die erste Woche kostet für alle 30€. Wir bitten Sie den Teilnahmebeitrag <strong>bis Freitag, 5. Juni</strong> auf unser Konto zu überweisen:<br /><strong>Raiffeisenkasse Bozen IBAN: IT 58 J 08081 11600 000305003229</strong><br />Grund der Überweisung: KISO 2020-COVID 19, Woche/n und Namen des Kindes</li>
		<li>Tägliches Infrarot-Fiebermessen vor Ort (zu Beginn)</li>
		<li>Konforme Schutzausrüstung (Stoffmaske) muss von den Teilnehmer*innen mitgebracht werden.</li>
		<li>Der Abstand von 2 Metern (ohne Maske) bzw. 1 Meter (mit Maske) ist in jedem Falle einzuhalten. Aktivitäten und Spiele werden entsprechend angepasst (wir werden unserer Kreativität freien Lauf lassen)</li>
		<li>Regelmäßige Desinfektion der sanitären Oberflächen seitens des KiSo-Personals</li>
		<li><strong>Anmeldeschluss:</strong> Die Anmeldungen sind bis <strong>Dienstag, 2. Juni 2020</strong> möglich. Melden Sie Ihr Kind bitte nur für den Vormittag ODER Nachmittag an.</li>
	</ul>
	<p>Es besteht die Möglichkeit, dass es in den nächsten Wochen zu einigen Lockerungen der Richtlinien kommen könnte. Wir werden vor KiSo-Beginn eine weitere Mitteilung mit den aktuellsten Informationen schicken, u.a. was die Kinder alles mitbringen sollen und welche Unterlagen notwendig sind.</p>

	<h2><strong>Neue Infos zu Summer Weeks 2020 Covid-19</strong></h2>
	<p>Für 11- bis 15-Jährige aller Muttersprachen.<br />
	   Das Programm wird in deutscher Sprache angeboten, somit werden genügend Grundkenntnisse der deutschen Sprache vorausgesetzt.</p>
    <ul>
		<li>Halbtägiger Workshop von <strong>8.30 bis 13.30</strong> Uhr (Ausnahme: Abenteuer Mathematik bis 13.00 Uhr)</li>
		<li>Gruppen zu max. je 10 Kindern im Jugendzentrum papperlapapp, Pfarrplatz 24, Bozen</li>
		<li>Verpflegung: Kein gekochtes Mittagessen, aber großes Lunchpaket</li>
		<li>Der Teilnahmebeitrag pro Woche 80 Euro bzw. 70 Euro für das 2. Kind derselben Woche muss bis <strong>Freitag, 12. Juni</strong> auf unser Konto überwiesen werden:<br />
			Raiffeisenkasse Bozen IBAN: IT 58 J 08081 11600 000305003229<br />
			Grund der Überweisung: SUMMER 2020-COVID 19, Woche/n und Namen des Kindes</li>
		<li>Tägliches Infrarot-Fiebermessen vor Ort (zu Beginn)</li>
		<li>Konforme Schutzausrüstung (Stoffmaske) muss von den Teilnehmer*innen mitgebracht werden.</li>
		<li>Der Abstand von 2 Metern (ohne Maske) bzw. 1 Meter (mit Maske) ist in jedem Falle einzuhalten. Aktivitäten und Spiele werden entsprechend angepasst.</li>
		<li>Regelmäßige Desinfektion der sanitären Oberflächen seitens des KiSo-Personals</li>
		<li><strong>Anmeldeschluss:</strong> Die Anmeldungen gehen bis <strong>Mittwoch, 10. Juni 2020</strong> auf <a href="www.KISO.bz.it">www.KISO.bz.it</a></li>
	</ul>

	<h2>Programm</h2>

	<h3>Gaming Week</h3>
	<img src="./../../../../assets/kiso_gaming.png" style="height:110px;float:left;margin-right:15px" />
	<h4>Hannes Waldner</h4>
	<p>Eine Woche ganz im Zeichen des Videospiels. Es wird nicht nur gemeinsam gezockt, sondern wir tauchen tiefer in die Virtual Reality ein und beschäftigen uns anhand unterschiedlicher pädagogischer Methoden mit dem Medium „Videospiel“ an sich. Was steckt alles dahinter? Was macht ein gutes Videospiel aus? Welche Rollen nehmen wir dabei ein? Let’s play!</p>
    <p>Zeitraum: 6. bis 10. Juli 2020</p>
	<br />
	<h3>Abenteuer Mathematik</h3>
	<img src="./../../../../assets/kiso_math.png" style="height:110px;float:left;margin-right:15px" />
	<h5>Andi Scartezzini &amp; Harald Niederseer</h5>
	<p>Eine Woche lang einen neuen und spannenden Zugang zur Welt der Mathematik entdecken. Für alle die Mathematik lieben, aber auch eine neue Chance für diejenigen, die sagen &quot;in Mathe bin ich schlecht&quot; oder &quot;Mathe ist blöd&quot;!</p>
	<p>Zeitraum: 13. bis 17. Juli 2020</p>
	<br />
	<h3>Theater Workshop</h3>
	<img src="./../../../../assets/kiso_photo.jpg" style="height:110px;float:left;margin-right:15px" />
	<h4>Miriam Dreher &amp; Nadja Tröster</h4>
	<p>Du findest Schauspielen spannend und möchtest dich gerne auf einer Bühne ausprobieren? Du hast Lust auf Austausch mit gleichgesinnten Kids und möchtest lernen, wie man die eigenen Geschichten kreativ darstellen und ein selbst erfundenes Theaterstück auf die Beine stellen kann? Auf dich wartet eine Menge Spaß!</p>
	<p>Zeitraum: 20. bis 24. Juli 2020</p>
	<br />
	<h3>Film &amp; Hip Hop</h3>
	<img src="./../../../../assets/kiso_dance.png" style="height:110px;float:left;margin-right:15px" />
	<h4>Valentina Bagnis &amp; Willy Theil</h4>
	<p>Du brennst für Musik, interessierst dich für Film oder tanzt und schauspielst gerne? Hast Lust bei einem Musikvideo von der Idee bis zum fertigen Schnitt mit dabei zu sein? Würdest mal gerne vor oder hinter der Kamera stehen? Lernst gerne neue Leute kennen und möchtest mal mehr als nur ein TikTok Video drehen? Dann bist du hier genau richtig! Der Fantasie sind hier keine Grenzen gesetzt.</p>
	<p>Zeitraum: 27. bis 31. Juli 2020 bzw. 3. August bis 7. August</p>
	<br />
	<br />
    <h4>Anmeldung:</h4>
	<p>Für Fragen: michael.hofer@jd.bz.it, 3402832479</p>

	<img src="./../../../../assets/logo-jungschar.png" style="vertical-align:bottom;height:50px;margin-left:15px" />
	<img src="./../../../../assets/raika.png" style="vertical-align:bottom;height:70px;margin-left:15px" />
	<img src="./../../../../assets/familienagentur.png" style="vertical-align:bottom;height:150px;margin-left:15px" />
	<img src="./../../../../assets/stadt_bozen.jpg" style="vertical-align:bottom;height:70px;margin-left:15px; margin-bottom:30px" />
	<img src="./../../../../assets/Kiso_papperlapapp.jpg" style="vertical-align:bottom;height:90px;margin-left:15px; margin-bottom:30px" />
</div>
-->

<!-- <div class='container'>
	<h2><strong>KiSo – Kindersommer 2020</strong></h2>
	<img src="./../../../../assets/kiso2020.png" style="height:500px;float:left;margin-right:15px" />
	<h4>Wer darf daran teilnehmen</h4>
	<p>Für Grundschulkinder aller Muttersprachen.<br />Das Programm wird in deutscher Sprache
		angeboten, somit werden genügend Grundkenntnisse der deutschen Sprache vorausgesetzt. Der KiSo ist kein Sprachkurs.</p>
	<h4>Wie viele Kinder dürfen Teilnehmen?</h4>
	<p>Maximal 42 Kinder pro Woche</p>
	<h4>Wann und wo findet der KiSo statt?</h4>
	<p><strong><time>17. Juni - 31. Juli 2020</time></strong><br />Zentrum Maria Heim, Neustifter Weg 5</p>
	<p>Von Montag bis Freitag von 8:30 bis 15:00 Uhr (Die 1. Juniwoche beginnt mittwochs)*<br />Zwischen 7:45 und 8:30 Uhr können die Eltern ihre Kinder bringen; Abholzeit 15.00 – 15.30 Uhr</p>
	<h4>Kosten:</h4>
	<p>
	80 € pro Kind &amp; Woche *(1. Juniwoche: 50,00 Euro)<br />
	freiwilliger Solaridätspreis von 90 € pro Woche, um das Projekt zu unterstützen<br />
	Für Geschwisterkinder 70 € pro Woche *(1. Juniwoche: 45,00 Euro)<br />
	Im Preis inbegriffen: Kinderbetreuung, Mittagessen, Jause, T-Shirt
    </p>
	<h4>Programm:</h4>
	<p>Die Kinder halten sich viel im Freien auf, aber auch für regenreiche und hitzige Sommertage ist für 	Programm im Haus gesorgt. Bei schönem Wetter wird einmal wöchentlich ein Ausflug in der Bozner Umgebung gemacht und einmal wöchentlich im Garten gegrillt.</p>
	<p>Wichtig ist uns, eine gute Betreuung für die Kinder - und dadurch Entlastung für die Eltern – anzubieten. Die Kinder sollen sich mit viel Freiraum, aber auch gezielten Programmen unter Gleichaltrigen wohl fühlen. Im Spiel können die Kinder frei und ungezwungen ihre Fähigkeiten entfalten und Werte, die für das Zusammenleben mit anderen Menschen wichtig sind, kennen und respektieren lernen.</p>
	<h4>Betreuer*innen-Team:</h4>
	<p>Die Sozialpädagogin Martina Zampedri wird das Projekt auch heuer wieder leiten. Sie wird zusammen mit einem sieben- bis neunköpfigen Team (16 - 26 Jahre) die Kinder betreuen. Das Team besteht aus Bozner Jungscharleiter*innen, Jugendlichen des „ExPeerience“ - Projekts vom Jugendzentrum Papperlapapp und pädagogisch interessierten und/oder erfahrenen Jugendlichen.</p>
	<h4>Anmeldung:</h4>
	<p>Die Online-Anmeldung findet ab Dienstag, <strong><time>3. März 2020 ab 19.00 Uhr</time></strong> unter <strong><a href="www.kiso.bz.it">www.kiso.bz.it</a></strong> statt. Wichtig: Alle Eltern müssen einen Account mit Username und Passwort auf selbiger Internetseite erstellen. Der Account kann ab 25. Februar 2020 angelegt werden und ist für weitere Jahre wieder verwendbar.<br />Für Fragen: <a href="mailto:kiso@jd.bz.it">kiso@jd.bz.it</a>, <a href="tel:0471 972098">0471 972098</a> (nachmittags)</p>
	<h4>Wichtig:</h4>
	<p>Alle Eltern und Erziehungsberechtigten dürfen nur die eigenen Kinder einschreiben</p>
	<p>Das Kind muss bereits die erste Klasse Grundschule besucht haben (Ausnahme: Geschwisterkinder, die das letzte Kindergartenjahr besucht haben)<br />Die Anmeldung ist verbindlich, wenn Sie die schriftliche Bestätigung des Jugenddienstes Bozen erhalten haben</p>
	<p><strong>Bitte lesen Sie sich aufmerksam die Allgemeinen Geschäftsbedingungen (AGB’s) durch!</strong></p>
	
	<br />
	<br />
	<h2><strong>Summer weeks</strong></h2>
	<p>Für 11- bis 15-Jährige aller Muttersprachen.<br />Das Programm wird in deutscher Sprache angeboten, somit werden genügend Grundkenntnisse der deutschen Sprache vorausgesetzt. Der KISO ist kein Sprachkurs.</p>
	<p>Maximal 12 Kinder pro Woche</p>
	<h4>Wann</h4>
	<p>6. Juli - 31. Juli 2020<br />Von Montag bis Freitag von 8.30 bis 15.30 Uhr</p>
	<h4>Wo</h4>
	<p>Jugendzentrum papperlapapp, Pfarrplatz 24</p>
	<h4>Kosten</h4>
	<p>80 € pro Kind &amp; Woche<br />Freiwilliger Solidaritätspreis von 90 € pro Woche, um das Projekt zu unterstützen<br />Für Geschwisterkinder 70 € pro Woche<br />Im Preis inbegriffen: Workshop, Mittagessen, Jause, T-Shirt</p>
	<br />
	<h3>Gaming Week</h3>
	<img src="./../../../../assets/kiso_gaming.png" style="height:110px;float:left;margin-right:15px" />
	<h4>(Referenten ausständig)</h4>
	<p>Eine Woche ganz im Zeichen des Videospiels. Es wird nicht nur gemeinsam gezockt, sondern wir tauchen tiefer in die Virtual Reality ein und beschäftigen uns anhand unterschiedlicher pädagogischer Methoden mit dem Medium „Videospiel“ an sich. Was steckt alles dahinter? Was macht ein gutes Videospiel aus? Welche Rollen nehmen wir dabei ein? Let’s play!</p>
    <p>Zeitraum: 6. bis 10. Juli 2020</p>
	<br />
	<h3>Abenteuer Mathematik</h3>
	<img src="./../../../../assets/kiso_math.png" style="height:110px;float:left;margin-right:15px" />
	<h5>Andi Scartezzini &amp; Harald Niederseer</h5>
    <p>Zusammenarbeit mit dem Jugendzentrum papperlapapp.</p>
	<p>Eine Woche lang einen neuen und spannenden Zugang zur Welt der Mathematik entdecken. Für alle die Mathematik lieben, aber auch eine neue Chance für diejenigen, die sagen &quot;in Mathe bin ich schlecht&quot; oder &quot;Mathe ist blöd&quot;!</p>
	<p>Zeitraum: 13. bis 17. Juli 2020</p>
	<br />
	<h3>Theater Workshop</h3>
	<img src="./../../../../assets/kiso_photo.jpg" style="height:110px;float:left;margin-right:15px" />
	<h4>Miriam Dreher &amp; Nadja Tröster</h4>
	<p>Du findest Schauspielen spannend und möchtest dich gerne auf einer Bühne ausprobieren? Du hast Lust auf Austausch mit gleichgesinnten Kids und möchtest lernen, wie man die eigenen Geschichten kreativ darstellen und ein selbst erfundenes Theaterstück auf die Beine stellen kann? Auf dich wartet eine Menge Spaß!</p>
	<p>Zeitraum: 20. bis 24. Juli 2020</p>
	<br />
	<h3>Film &amp; Hip Hop</h3>
	<img src="./../../../../assets/kiso_dance.png" style="height:110px;float:left;margin-right:15px" />
	<h4>Valentina Bagnis &amp; Willy Theil</h4>
	<p>Du brennst für Musik, interessierst dich für Film oder tanzt und schauspielst gerne? Hast Lust bei einem Musikvideo von der Idee bis zum fertigen Schnitt mit dabei zu sein? Würdest mal gerne vor oder hinter der Kamera stehen? Lernst gerne neue Leute kennen und möchtest mal mehr als nur ein TikTok Video drehen? Dann bist du hier genau richtig! Der Fantasie sind hier keine Grenzen gesetzt.</p>
	<p>Zeitraum: 27. bis 31. Juli 2020</p>
	<br />
	<br />
    <h4>Anmeldung:</h4>
	<p>Die Online-Anmeldung findet ab Donnerstag, <strong><time>19. März 2020 ab 19.00 Uhr</time></strong> unter <strong><a href="www.kiso.bz.it">www.kiso.bz.it</a></strong> statt. Wichtig: Alle Eltern müssen einen Account mit Username und Passwort auf selbiger Internetseite erstellen. Der Account kann ab 25. Februar 2020 angelegt werden und ist für weitere Jahre wieder verwendbar.<br />Für Fragen: <a href="mailto:kiso@jd.bz.it">kiso@jd.bz.it</a>, <a href="tel:0471 972098">0471 972098</a> (nachmittags)</p>
	<h4>Wichtig:</h4>
	<p>Alle Eltern und Erziehungsberechtigten dürfen nur die eigenen Kinder einschreiben</p>

	<img src="./../../../../assets/logo-jungschar.png" style="vertical-align:bottom;height:50px;margin-left:15px" />
	<img src="./../../../../assets/raika.png" style="vertical-align:bottom;height:70px;margin-left:15px" />
	<img src="./../../../../assets/familienagentur.png" style="vertical-align:bottom;height:150px;margin-left:15px" />
	<img src="./../../../../assets/stadt_bozen.jpg" style="vertical-align:bottom;height:70px;margin-left:15px; margin-bottom:30px" />
	<img src="./../../../../assets/Kiso_papperlapapp.jpg" style="vertical-align:bottom;height:90px;margin-left:15px; margin-bottom:30px" />
</div> -->