<div class='container'>
    <h2><strong>KiSo – Kindersommer 2018</strong></h2>
	<img src="./../../../../assets/KiSo2017-folderweb1.png" style="height:500px;float:left;margin-right:15px" />
	<p>Per bambini di qualsiasi madrelingua che frequentano le elementari.<br />Le attività vengono svolte in lingua tedesca, perciò è richiesta una sufficiente conoscenza della lingua tedesca.</p>
	<p>Al massimo 45 bambini a settimana</p>
	<h4>Dove:</h4>
	<p><strong><time>Dal 18 giugno al 3 agosto 2018</time></strong><br />Centro Maria Heim, via Novacella 5<br />Novità: A causa dei lavori di ristrutturazione della Münzbank a Gries, quest' anno, tutte le sette settimane si svolgeranno nel centro Maria Heim.</p>
	<h4>Quando:</h4>
	<p>Da lunedì a venerdì dalle ore 8:30 alle ore 15:00<br />I genitori possono portare i bambini tra le ore 7:45 e le ore 8:30, e ritirarli tra le ore 15:00 e le ore 15:30.</p>
	<h4>Costi:</h4>
	<p>80€ a settimana per il primo bambino<br />Per fratelli e sorelle 70€ a settimana <br />Nel prezzo sono comprese l’attività, il pranzo, una merenda e una maglietta.</p>
	<h4>Attività:</h4>
	<p>Ogni settimana è dedicata a un argomento specifico (p.es. circo, fiabe, sport). I bambini passano la maggior parte del tempo all’aperto. Nelle giornate molto calde e di pioggia le attività si svolgeranno in casa. A Gries i bambini passano del tempo anche presso lo studentato San Benedetto. Tempo permettendo una volta in settimana i bambini vanno in gita nei dintorni di Bolzano. Inoltre ogni settimana viene organizzata una grigliata in giardino.</p>
	<p>Il nostro obiettivo è offrire ai genitori un punto di appoggio per il periodo estivo, e ai bambini uno spazio protetto dove possano godersi il tempo libero e le varie attività stando tra coetanei. I giochi e le attività vogliono promuovere la creatività dei bambini e la conoscenza e il rispetto dei valori fondamentali per la convivenza.</p>
	<h4>L’equipe di animatori:</h4>
	<p>L’educatrice sociale Nadia Vicari è la responsabile del progetto e lo svolgerà insieme ad un’equipe tra sette e nove animatori tra i 16 e i 26 anni provenienti dall’ambito associativo.</p>
	<h4>Iscrizioni:</h4>
	<p>L’iscrizione avviene online a partire da giovedì, <strong><time>15 marzo 2018 alle ore 19:00 </time></strong> sul sito  <strong><a href="www.kiso.bz.it">www.kiso.bz.it</a></strong> Importante: I genitori devono creare un account con nome utente e password su questo sito. Questo account può essere creato a partire dal 9 marzo 2017 e può essere usato anche in anni futuri.<br />In caso di domande rivolgersi a <a href="mailto:kiso@jd.bz.it">kiso@jd.bz.it</a>, <a href="tel:0471 972098">0471 972098</a> (di pomeriggio)</p>
	<h4>Importante:</h4>
	<p>I genitori possono iscrivere solo i propri figli.</p>
	<p>Il bambino deve aver già frequentato la prima elementare (eccezione: fratelli minori che hanno concluso l’ultimo anno di scuola materna).<br />L’iscrizione è vincolante dal momento in cui Lei ottiene per iscritto la conferma dello Jugenddienst Bozen.</p>
	<adress style="font-style:italic"><mark>Jugenddienst Bozen</mark><br />Pfarrplatz 24, piazza Parrocchia<br />39100 Bozen/Bolzano<br />0471 972098 (15.00-18.30 h)<br /><a href="mailto:kiso@jd.bz.it">kiso@jd.bz.it</a></adress><br />

	<div ng-include='"templates/agb/agb-kiso-it.html"'></div>

	<img src="./../../../../assets/jdb.png" style="vertical-align:bottom;height:110px;margin-left:15px" />
	<img src="./../../../../assets/logo-jungschar.png" style="vertical-align:bottom;height:50px;margin-left:15px" />
	<img src="./../../../../assets/raika.png" style="vertical-align:bottom;height:70px;margin-left:15px" />
	<img src="./../../../../assets/familienagentur.png" style="vertical-align:bottom;height:150px;margin-left:15px" />
	<img src="./../../../../assets/stadt_bozen.jpg" style="vertical-align:bottom;height:70px;margin-left:15px; margin-bottom:30px" />
</div>