<div class='container'>
<h4>Die Anschrift des Lagers lautet:</h2> 
Johannes Nepomuk Baron di Pauli<br />
Oberfennberg 1<br />
39040 Kurtatsch<br /><br />
<p>Die Anfahrt zum Zeltlager erfolgt über das Dorf Kurtatsch, danach ist den Hinweisschildern „Fennberg“ zu folgen. An der richtigen Abzweigung werden wir dann ein Sonderhinweisschild anbringen.</p>
<p>Falls jemand in der Lage sein sollte, Obst, Gemüse, Marmelade, Ragout oder andere Lebensmittel (Kuchen) zur Verfügung zu stellen, so danken wir jetzt schon dafür. Wenn möglich bei Anmeldung mitteilen.</p>

<h4>Anmeldung</h4>
<p>Die Anmeldung erfolgt durch die Abgabe der Eigenverantwortlichen Erklärung der Eltern und des unteren Abschnittes, sowie durch die Zahlung des Beitrages.</p>
<p>Die Anmeldefrist endet am <strong>25. Mai 2018!</strong></p>
<p>Die Überweisungsbestätigung bitte per Email zustellen: Kathi14be@gmail.com</p>

<strong>Das Konto lautet:</strong><br />
Katholische Jungschar Südtirols<br />
Ortsgruppe Gries<br />
IBAN: IT 59 N 08081 11601 000301002490<br />

<p>Bei Fragen oder Unklarheiten können Sie sich jederzeit an uns wenden: 340 4910415 (Katharina Berger)</p>

<h4>Mitzunehmen sind:</h4>
<ul>
<li>Gutes Schuhwerk</li>
<li>Sandalen, Crocks oder Flip Flops</li>
<li>Besteck (Teller, Gabel, Messer, Löffel, Becher)</li>
<li>Schlafsack</li>
<li>Taschenlampe</li>
<li>Gemütliche Kleidung (lange und kurze Kleidung)</li>
<li>Sonnenschutz</li>
<li>Toilettensachen (Zahnbürste-pasta…)</li>
<li>Schwimmsachen (inkl. Handtuch)</li>
</ul>

<h4>Was du nicht mitzunehmen brauchst:</h4>
<ul><li>Alle elektronischen Geräte (Handy, Laptop…)</li></ul>
</div>
