<div class='container'>
<h2 class='text-orange'>Anmeldung ändern</h2>
<form name='registrationForm' class='form-horizontal' novalidate ng-submit='save()'>
	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>

	<div class='text-orange'><strong>Angaben Eltern:</strong></div>
	<!-- FIRSTNAMEPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.firstNameParent.$invalid }'>
	    <label for='firstNameParent' class='control-label col-sm-2'>Vorname</label>
		<div class='col-sm-10'>
			<input name='firstNameParent' type='text' ng-model='firstNameParent' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- LASTNAMEPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.lastNameParent.$invalid }'>
		<label for='lastNameParent' class='control-label col-sm-2'>Familienname</label>
		<div class='col-sm-10'>
			<input name='lastNameParent' type='text' ng-model='lastNameParent' class='form-control' required maxlenght='100'></input>
		</div>
	</div>
	<!-- PHONENUMBERPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.phoneNumberParent.$invalid }'>
		<label for='phoneNumberParent' class='control-label col-sm-2'>Tel</label>
		<div class='col-sm-10'>
			<input name='phoneNumberParent' type='tel' ng-model='phoneNumberParent' required maxlength='150' class='form-control'></input>
		</div>
	</div>
	<!-- EMAILPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.emailParent.$invalid }'>
		<label for='emailParent' class='control-label col-sm-2'>Email</label>
		<div class='col-sm-10'>
			<input name='emailParent' type='email' ng-model='emailParent' required maxlength='200' class='form-control'></input>
		</div>
	</div>
	<div class='text-orange'><strong>Angaben zum Kind:</strong></div>
	<!-- FIRSTNAMECHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.firstNameChild.$invalid }'>
	    <label for='firstNameChild' class='control-label col-sm-2'>Vorname</label>
		<div class='col-sm-10'>
			<input name='firstNameChild' type='text' ng-model='firstNameChild' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- LASTNAMECHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.lastNameChild.$invalid }'>
		<label for='lastNameChild' class='control-label col-sm-2'>Familienname</label>
		<div class='col-sm-10'>
			<input name='lastNameChild' type='text' ng-model='lastNameChild' class='form-control' required maxlenght='100'></input>
		</div>
	</div>
	<!-- BIRTHDAYCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.birthdayChild.$invalid }'>
		<label for='birthdayChild' class='control-label col-sm-2'>Geburtstag</label>
		<div class='col-sm-10'>
			<ng-datepicker ng-model='birthdayChild' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
		</div>
	</div>
	<!-- SCHOOLCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.schoolChild.$invalid }'>
		<label for='schoolChild' class='control-label col-sm-2'>Besuchte Klasse</label>
		<div class='col-sm-10'>
			<input name='schoolChild' type='text' ng-model='schoolChild' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- CITYCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.cityChild.$invalid }'>
		<label for='cityChild' class='control-label col-sm-2'>Gemeinde</label>
		<div class='col-sm-10'>
			<select name='cityChild' class='sel-base form-control' ng-model='cityChild'>
				<option ng-repeat="city in cities" value='{{city}}'>{{city}}</option>
			</select>
		</div>
	</div>
	<!-- HASHEALTHISSUES -->
	<div ng-show="!platform.isJDUL()" class='col-sm-offset-2 col-sm4 form-group' ng-class='{ "has-error": registrationForm.schoolChild.$invalid }'>
		<label for='hasHealthIssues' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTHISSUES_CHILD" | translate}}</label>
		<div class='col-sm-8 btn-group' role='group' required>
			<button type="button" ng-class='{"btn-info": hasHealthIssues && isHasHealthIssuesSet()}' class="btn btn-default" ng-click="setHasHealthIssues(true)">{{"BTN.YES" | translate}}</button>
			<button type="button" ng-class='{"btn-info": !hasHealthIssues && isHasHealthIssuesSet()}' class="btn btn-default" ng-click="setHasHealthIssues(false)">{{"BTN.NO" | translate}}</button>
			<!--<input type='checkbox' name='hasHealthIssues' ng-model='hasHealthIssues'></input>-->
		</div>
	</div>
	<!-- HEALTHINCOMPATIBILITY -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthIncompatibility' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_INCOMPATIBILITY" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthIncompatibility' ng-model='healthIncompatibility' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHALLERGY -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthAllergy' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_ALLERGY" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthAllergy' ng-model='healthAllergy' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHILLNESS -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthIllnes' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_ILLNESS" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthIllnes' ng-model='healthIllnes' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHCHILD -->
	<!--<div class='form-group' ng-class='{ "has-error": registrationForm.healthChild.$invalid }'>
		<label for='healthChild' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_CHILD" | translate}}</label>
		<div class='col-sm-8'>
			<textarea name='healthChild' ng-model='healthChild' rows='3' maxlength='350' class='form-control'></textarea>
		</div>
	</div>-->

	<!-- HASDISABILITY -->
	<div ng-show="!platform.isJDUL()" class='col-sm-offset-2 col-sm4 form-group'>
		<label for='hasDisability' class='control-label col-sm-2'>{{"RESERVATION.LABEL_DISABILITY_CHILD" | translate}}</label>
		<div class='col-sm-8 btn-group'>
				<button type="button" ng-class='{"btn-info": hasDisability && isHasDisabilitySet()}' class="btn btn-default" ng-click="setHasDisability(true)">{{"BTN.YES" | translate}}</button>
				<button type="button" ng-class='{"btn-info": !hasDisability && isHasDisabilitySet()}' class="btn btn-default" ng-click="setHasDisability(false)">{{"BTN.NO" | translate}}</button>	
			<!--<input type='checkbox' name='hasDisability' ng-model='hasDisability'></input>-->
		</div>
	</div>
	<!-- DISABILITYDESCRIPTION -->
	<div ng-show='hasDisability' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='disabilityDescription' class='control-label col-sm-2'>{{"RESERVATION.LABEL_DISABILITY_CHILD_DESCRIPTION" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='disabilityDescription' ng-model='disabilityDescription' maxlength='100' class='form-control'></input>
		</div>
	</div>	
	<div ng-show='hasDisability' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='diagnosticDescription' class='control-label col-sm-2'>{{"RESERVATION.LABEL_DIAGNOSTIC_CHILD_DESCRIPTION" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='diagnosticDescription' ng-model='diagnosticDescription' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- CANSWIM -->
	<div ng-show='platform.isJDUL()' class='col-sm-offset-2 col-sm4'>
		<input type='checkbox' name='canSwin' ng-model='canSwim'><strong>  {{"RESERVATION.LABEL_CANSWIM_CHILD" | translate}}</input>
	</div>
	<!-- CANGOHOMEALLONE -->
	<div ng-show='platform.isJDUL()' class='col-sm-offset-2 col-sm4'>
		<input type='checkbox' name='canGoHomeAllone' ng-model='canGoHomeAllone'><strong>  {{"RESERVATION.LABEL_CANGOHOME_CHILD" | translate}}</input>
	</div>

	<br />

	<div class='text-orange'><strong>Notfallkontakte:</strong></div>
	<!-- NAMECONTACT1 TELCONTACT1 -->
	<div class='form-group'>
		<label for='nameContact1' class='control-label col-sm-2'>Name1</label>
		<div class='col-sm-4'>
			<input name='nameContact1' type='text' maxlength='250' ng-model='nameContact1' class='form-control'></input>
		</div>
		<label for='telContact1' class='control-label col-sm-2'>Telefon1</label>
		<div class='col-sm-4'>
			<input name='telContact1' type='tel' maxlength='100' ng-model='telContact1' class='form-control'></input>
		</div>
	</div>
	<!-- NAMECONTACT2 TELCONTACT2 -->
	<div class='form-group'>
		<label for='nameContact2' class='control-label col-sm-2'>Name2</label>
		<div class='col-sm-4'>
			<input name='nameContact2' type='text' maxlength='250' ng-model='nameContact2' class='form-control'></input>
		</div>
		<label for='telContact2' class='control-label col-sm-2'>Telefon2</label>
		<div class='col-sm-4'>
			<input name='telContact2' type='tel' maxlength='100' ng-model='telContact2' class='form-control'></input>
		</div>
	</div>
	<!-- NEEDSEBK -->
	<!-- <div class='col-sm-offset-2 col-sm4'>
		<input type='checkbox' name='needsEbk' ng-model='needsEbK'><strong>  Ebk</input>
	</div> -->

	<div class='col-sm-offset-2 col-sm-10' style='margin-top:15px;'>
			<input class='btn btn-success bnt-lg btn-block' type='submit' value='Speichern'>
	</div>
</form>
</div>
