<div class='container'>
<h2 class='text-orange'>Anmeldung ändern</h2>
<form name='registrationForm' class='form-horizontal' novalidate ng-submit='save()'>
	<div cg-Busy='{promise:busyPromise,message:"Loading",backdrop:true,minDuration:500}'></div>

	<div class='form-group' ng-class='{ "has-error": registrationForm.activityId.$invalid }'>
		<label for='activityId' class='control-label col-sm-2'>Woche</label>
		<div class='col-sm-10'>
			<select id='activityId' class='sel-base' ng-model='activityId'>
				<option ng-repeat='activity in activities' value='{{activity._id}}'>{{activity.name}}</option>
			</select>
		</div>
	</div>

	<div class='text-orange'><strong>Angaben Eltern:</strong></div>
	<!-- FIRSTNAMEPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.firstNameParent.$invalid }'>
	    <label for='firstNameParent' class='control-label col-sm-2'>Vorname</label>
		<div class='col-sm-10'>
			<input name='firstNameParent' type='text' ng-model='firstNameParent' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- LASTNAMEPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.lastNameParent.$invalid }'>
		<label for='lastNameParent' class='control-label col-sm-2'>Familienname</label>
		<div class='col-sm-10'>
			<input name='lastNameParent' type='text' ng-model='lastNameParent' class='form-control' required maxlenght='100'></input>
		</div>
	</div>
	<!-- PHONENUMBERPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.phoneNumberParent.$invalid }'>
		<label for='phoneNumberParent' class='control-label col-sm-2'>Tel</label>
		<div class='col-sm-10'>
			<input name='phoneNumberParent' type='tel' ng-model='phoneNumberParent' required maxlength='150' class='form-control'></input>
		</div>
	</div>
	<!-- EMAILPARENT -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.emailParent.$invalid }'>
		<label for='emailParent' class='control-label col-sm-2'>Email</label>
		<div class='col-sm-10'>
			<input name='emailParent' type='email' ng-model='emailParent' required maxlength='200' class='form-control'></input>
		</div>
	</div>
	<div class='text-orange'><strong>Angaben zum Kind:</strong></div>
	<!-- FIRSTNAMECHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.firstNameChild.$invalid }'>
	    <label for='firstNameChild' class='control-label col-sm-2'>Vorname</label>
		<div class='col-sm-10'>
			<input name='firstNameChild' type='text' ng-model='firstNameChild' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- LASTNAMECHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.lastNameChild.$invalid }'>
		<label for='lastNameChild' class='control-label col-sm-2'>Familienname</label>
		<div class='col-sm-10'>
			<input name='lastNameChild' type='text' ng-model='lastNameChild' class='form-control' required maxlenght='100'></input>
		</div>
	</div>
	<!-- BIRTHDAYCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.birthdayChild.$invalid }'>
		<label for='birthdayChild' class='control-label col-sm-2'>Geburtstag</label>
		<div class='col-sm-10'>
			<ng-datepicker ng-show='!platform.isJDUL()' ng-model='birthdayChild' view-format="DD.MM.YYYY"  locale='de' required></ng-datepicker>
			<input ng-show='platform.isJDUL()' type='date' ng-model='birthdayChild' required></input>
		</div>
	</div>
	<!-- SCHOOLCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.schoolChild.$invalid }'>
		<label for='schoolChild' class='control-label col-sm-2'>Besuchte Klasse</label>
		<div class='col-sm-10'>
			<input name='schoolChild' type='text' ng-model='schoolChild' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHCHILD -->
	<!--<div class='form-group' ng-class='{ "has-error": registrationForm.healthChild.$invalid }'>
		<label for='healthChild' class='control-label col-sm-2'>Gesundheitliche Probleme</label>
		<div class='col-sm-10'>
			<textarea name='healthChild' ng-model='healthChild' rows='3' maxlength='350' class='form-control'></textarea>
		</div>
	</div>-->
	<!-- HASHEALTHISSUES -->
	<div class='col-sm-offset-2 col-sm4 form-group'>
		<label for='hasHealthIssues' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTHISSUES_CHILD" | translate}}</label>
		<div class='col-sm-8'>
			<input type='checkbox' name='hasHealthIssues' ng-model='hasHealthIssues'></input>
		</div>
	</div>
	<!-- HEALTHINCOMPATIBILITY -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthIncompatibility' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_INCOMPATIBILITY" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthIncompatibility' ng-model='healthIncompatibility' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHALLERGY -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthAllergy' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_ALLERGY" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthAllergy' ng-model='healthAllergy' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HEALTHILLNESS -->
	<div ng-show='hasHealthIssues' class='col-sm-offset-2 col-sm4 form-group'>
		<label for='healthIllnes' class='control-label col-sm-2'>{{"RESERVATION.LABEL_HEALTH_ILLNESS" | translate}}</label>
		<div class='col-sm-8'>
			<input type='text' name='healthIllnes' ng-model='healthIllnes' maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- HASDISABILITY -->
	<div class='col-sm-offset-2 col-sm4 form-group'>
		<label for='hasDisability' class='control-label col-sm-2'> Beeinträchtigung</label>
		<div class='col-sm-8'>
			<input type='checkbox' name='hasDisability' ng-model='hasDisability'></input>
		</div>
	</div>
	<!-- DISABILITY DESCRIPTION -->
	<div ng-show='hasDisability' class='form-group' ng-class='{ "has-error": registrationForm.disabilityDescription.$invalid }'>
		<label for='disabilityDescription' class='control-label col-sm-2'>Diagnose Beeinträchtigung</label>
		<div class='col-sm-10'>
			<input name='disabilityDescription' type='text' ng-model='disabilityDescription' class='form-control'></input>
		</div>
	</div>
	<!-- PREFERREDFELLOW -->
	<div ng-show='platform.isJugendsommer() || platform.isTest()' class='form-group' ng-class='{ "has-error": registrationForm.preferredFellow.$invalid }'>
		<label for='preferredFellow' class='control-label col-sm-2'>{{"RESERVATION.LABEL_PREFERRED_FELLOW" | translate}}</label>
		<div class='col-sm-8'>
			<input name='preferredFellow' type='text' ng-model='preferredFellow' class='form-control' maxlenght='100'></input>
		</div>
	</div>
	<!-- ADDRESSCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.addressChild.$invalid }' ng-show="!platform.isJugendsommer()">
		<label for='addressChild' class='control-label col-sm-2'>Adresse</label>
		<div class='col-sm-10'>
			<input name='addressChild' type='text' ng-model='addressChild' required maxlength='100' class='form-control'></input>
		</div>
	</div>
	<!-- CITYCHILD -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.cityChild.$invalid }'>
		<label for='cityChild' class='control-label col-sm-2'>Gemeinde</label>
		<div class='col-sm-10'>
			<select name='cityChild' class='sel-base form-control' ng-model='cityChild'>
				<option ng-repeat="city in cities" value='{{city}}'>{{city}}</option>
			</select>
		</div>
	</div>
	<!--TSHIRTSIZE -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.tShirtSize.$invalid}'>
		<label for='tShirtSize' class='control-label col-sm-2'>T-Shirt-Size</label>
		<div class='col-sm-10'>
			<select name='tShirtSize' class='sel-base form-control' ng-model='tShirtSize'>
				<option ng-repeat="size in tShirtSizes" value='{{size.name}}'>{{size.name}}</option>
			</select>
		</div>
	</div>
	<!-- CANSWIM -->
	<div ng-show='platform.isJDUL() || platform.isTest()' class='col-sm-offset-2 col-sm4'>
		<div class="input-group">
			<input type='checkbox' name='canSwin' ng-model='canSwim'><strong>  {{"RESERVATION.LABEL_CANSWIM_CHILD" | translate}}</input>
		</div>
	</div>
	<!-- CANGOHOMEALLONE -->
	<div ng-show='platform.isJDUL()' class='col-sm-offset-2 col-sm4'>
		<input type='checkbox' name='canGoHomeAllone' ng-model='canGoHomeAllone'><strong>  {{"RESERVATION.LABEL_CANGOHOME_CHILD" | translate}}</input>
	</div>
	<!-- NEEDSEBK -->
	<div class='col-sm-offset-2 col-sm4'>
		<input type='checkbox' name='needsEbk' ng-model='needsEbK'><strong>  Ebk</input>
	</div>
	<br />
	<div class="panel panel-default">
	<div class="panel-heading text-orange"><strong>Auszufüllen nur bei Anmeldung für die Tschögglberger Jungbläserwochen</strong></div>
 		<div class="panel-body">
			<div class='form-group' ng-class='{ "has-error": registrationForm.bandName.$invalid }'>
				<label for='bandName' class='control-label col-sm-2'>Musikkapelle</label>
				<div class='col-sm-10'>
					<input name='bandName' type='text' ng-model='bandName' maxlength="100" class='form-control'></textarea>
				</div>
			</div>
			<div class='form-group' ng-class='{ "has-error": registrationForm.instrument.$invalid }'>
				<label for='instrument' class='control-label col-sm-2'>Instrument</label>
				<div class='col-sm-10'>
					<input name='instrument' type='text' ng-model='instrument' maxlength="100" class='form-control'></textarea>
				</div>
			</div>
			<div class='form-group' ng-class='{ "has-error": registrationForm.bandName.$invalid }'>
				<label for='instrumentYears' class='control-label col-sm-2'>Ausbildungsjahr</label>
				<div class='col-sm-10'>
					<input name='instrumentYears' type='text' ng-model='instrumentYears' maxlength="100" class='form-control'></textarea>
				</div>
			</div>
  		</div>
	</div>
	<div class='text-orange'><strong>Notfallkontakte:</strong></div>
	<!-- NAMECONTACT1 TELCONTACT1 -->
	<div class='form-group'>
		<label for='nameContact1' class='control-label col-sm-2'>Name1</label>
		<div class='col-sm-4'>
			<input name='nameContact1' type='text' maxlength='250' ng-model='nameContact1' class='form-control'></input>
		</div>
		<label for='telContact1' class='control-label col-sm-2'>Telefon1</label>
		<div class='col-sm-4'>
			<input name='telContact1' type='tel' maxlength='100' ng-model='telContact1' class='form-control'></input>
		</div>
	</div>
	<!-- NAMECONTACT2 TELCONTACT2 -->
	<div class='form-group'>
		<label for='nameContact2' class='control-label col-sm-2'>Name2</label>
		<div class='col-sm-4'>
			<input name='nameContact2' type='text' maxlength='250' ng-model='nameContact2' class='form-control'></input>
		</div>
		<label for='telContact2' class='control-label col-sm-2'>Telefon2</label>
		<div class='col-sm-4'>
			<input name='telContact2' type='tel' maxlength='100' ng-model='telContact2' class='form-control'></input>
		</div>
	</div>

	<div class="panel panel-default" ng-show="platform.isTest() || platform.isJDUL()">
		<div class="panel-body">
				<p>{{"RESERVATION.LABEL_COVID_PRIO_START" | translate}}</p>
				<input type='radio' name='covidprio' ng-checked="covidRules.isPrioWork" ng-click='setCovidPrio("work")'>  {{"RESERVATION.LABEL_COVID_PRIO_WORK" | translate}}</input></br>
				<input type='radio' name='covidprio' ng-checked="covidRules.isPrioSocial" ng-click='setCovidPrio("social")'>  {{"RESERVATION.LABEL_COVID_PRIO_SOCIAL" | translate}}</input></br>
				<input type='radio' name='covidprio' ng-checked="covidRules.isPrioNone" ng-click='setCovidPrio("none")'>  {{"RESERVATION.LABEL_COVID_PRIO_NONE" | translate}}</input>
		</div>
	</div>

	<!-- ISPAYMENTDONE -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.paymentDone.$invalid }'>
		<label for='paymentDone' class='control-label col-sm-2'>Einzahlung erhalten</label>
		<div class='col-sm-1 checkbox'>
			<input type='checkbox' name='paymentDone' ng-model='isPaymentDone' class='form-control'></input>
		</div>
	</div>

	<!-- ISEMAILNOTIFIED -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.emailNotified.$invalid }'>
		<label for='emailNotified' class='control-label col-sm-2'>Benachrichtigt</label>
		<div class='col-sm-1 checkbox'>
			<input type='checkbox' name='emailNotified' ng-model='isEmailNotified' class='form-control'></input>
		</div>
	</div>

	<!-- COMMENTINTERNAL -->
	<div class='form-group' ng-class='{ "has-error": registrationForm.commentInternal.$invalid }'>
		<label for='commentInternal' class='control-label col-sm-2'>Kommentar Intern</label>
		<div class='col-sm-10'>
			<textarea name='commentInternal' ng-model='commentInternal' rows='3' maxlength='350' class='form-control'></textarea>
		</div>
	</div>


	<div class='col-sm-offset-2 col-sm-10' style='margin-top:15px;'>
			<input class='btn btn-success bnt-lg btn-block' type='submit' value='Speichern' ng-disabled='!iSvc.isAuthorized("admin")'>
	</div>
</form>
</div>
