
<div ng-controller="BrandCtrl" class='navbar-brand'>
    <div ng-show="patformSvc.isJDBL() || platformSvc.isJugendsommer()">
		<a class='navbar-brand' href='http://www.jdbl.it'>
			<img src='assets/jd-logo.png' alt='Jugenddienst Bozen-Land' style='height:55px;'>
		</a>
	</div>
	<div ng-show="platformSvc.isKiso()">
		<a class='navbar-brand' href='https://www.jd.bz.it/#/'>
			<img src='assets/jd-logo.png' alt='kiso' style='height:55px;'>
		</a>
	</div>
	<div ng-show="platformSvc.isJDUL()">
		<a class='navbar-brand' href='https://www.jugenddienst.it/unterland'>
			<img src='assets/jd-logo.png' alt='Jugenddienst Bozen' style='height:55px;'>
		</a>
    </div>
    <div ng-show="platformSvc.isTest()">
        <a href='http://www.jdbl.it'>
            <img src='assets/jd-logo.png' alt='Jugenddienst Bozen-Land' style='height:55px;'>
        </a>
    </div>
</div>