
<div ng-controller="LangCtrl" style="border:0px dashed gray">
    <div class='btn btn-lg'
         ng-show="curLang === 'de'"
         ng-click="setLang('it')" >
        <img ng-show="!platform.isJDUL()" src='assets/Italy.png' style='height:35px' />
        <div class='btn btn-default' ng-show="platform.isJDUL()">italiano</div>
    </div>
    <div class='btn btn-lg'
         ng-show="curLang === 'it'"
         ng-click="setLang('de')" >
        <img ng-show="!platform.isJDUL()" src='assets/Germany.png' style='height:35px' />
        <div class='btn btn-default' ng-show="platform.isJDUL()">deutsch</div>
    </div>
</div>
